/* 1. Declare your custom layer order */
// @layer theme, base, components, utilities;

// /* 2. Import Tailwind's layers */
// @import 'tailwindcss/theme.css' layer(theme);
// @import 'tailwindcss/preflight.css' layer(base);
// @import 'tailwindcss/components.css' layer(components);

// /* 3. Import Tailwind's utilities (outside any layer for max precedence) */
// @import 'tailwindcss/utilities.css';

/* 4. Import custom styles */
@use '@n8n/design-system/css/mixins' as ds-mixins;
@use '@n8n/chat/css' as chat;
@use '@/app/css' as app;
