version: '3.9'

services:
  mysql:
    image: mysql:5.7
    environment:
      - MYSQL_DATABASE=n8n
      - MYSQL_ROOT_PASSWORD=password
    ports:
      - 3306:3306
    ulimits:
      nproc: 65535
      nofile:
        soft: 26677
        hard: 46677

  postgres:
    image: postgres:16
    restart: always
    environment:
      - POSTGRES_DB=n8n
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    ports:
      - 5432:5432
