/* reset */
button,
input {
	all: unset;
}

.ComboboxAnchor {
	display: inline-flex;
	align-items: center;
	justify-content: between;
	line-height: 1;
	font-size: var(--font-size-xs);
	padding: var(--spacing-2xs) var(--spacing-xs);
	width: 200px;
	border-bottom: var(--border-base);
	background-color: var(--color-foreground-xlight);
	border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

.ComboboxContent {
	z-index: 10;
	padding: var(--spacing-4xs);
	max-width: 200px;
	background-color: var(--color-foreground-xlight);
	border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
}

.ComboboxEmpty {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
}

.ComboboxItem {
	display: flex;
	align-items: center;
	padding: var(--spacing-2xs);
	padding-left: var(--spacing-xl);
	border-radius: var(--border-radius-base);
	position: relative;
}

.ComboboxItem[data-disabled] {
	pointer-events: none;
}

.ComboboxItem[data-highlighted] {
	background-color: var(--color-foreground-light);
}

.ComboboxItemIndicator {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: var(--spacing-2xs);
	width: 16px;
	height: 16px;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.ComboboxItemIndicator[data-state='checked'] {
	opacity: 1;
}
