/* reset */
button,
input {
	all: unset;
}

.filters {
	display: flex;
	align-items: center;
	gap: var(--spacing-4xs);
}

.filtersActiveList {
	display: flex;
	align-items: center;
	gap: var(--spacing-4xs);
	flex-wrap: wrap;
	max-width: 100%;
}

.filterChip {
	outline: none;
	display: flex;
	align-items: center;
	gap: var(--spacing-4xs);
	border-radius: var(--border-radius-base);
	padding: 0 var(--spacing-3xs);
	height: 30px;
	font-size: var(--font-size-2xs);
	color: var(--color-callout-secondary-font);
}

.active {
	background-color: var(--color-callout-secondary-background);
	border: var(--border-base);
	border-color: var(--color-callout-secondary-border);
	color: var(--color-callout-secondary-font);
	border-radius: var(--border-radius-base);
}

.filterDropdownButton {
	padding: 0;
	background-color: transparent;
	border: none;
	outline: none;
}

:deep(.filterDropdown) {
	z-index: 1000;
	min-width: 200px;
	box-shadow: var(--box-shadow-light);
	border-radius: var(--border-radius-base);
	background-color: var(--color-foreground-xlight);
	border: var(--border-base);
	overflow: hidden;
}

.filterDropdownAnchor {
	display: inline-flex;
	align-items: center;
	justify-content: between;
	line-height: 1;
	font-size: var(--font-size-xs);
	padding: var(--spacing-2xs) var(--spacing-xs);
	width: 200px;
	border-bottom: var(--border-base);
	background-color: var(--color-foreground-xlight);
	border-radius: var(--border-radius-base) var(--border-radius-base) 0 0;
}

:deep(.filterDropdownContent) {
	z-index: 10;
	padding: var(--spacing-4xs);
	max-width: 200px;
	background-color: var(--color-foreground-xlight);
	border-radius: 0 0 var(--border-radius-base) var(--border-radius-base);
}

.filterDropdownEmpty {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: 500;
}

.filterDropdownItem {
	display: flex;
	align-items: center;
	padding: var(--spacing-2xs);
	border-radius: var(--border-radius-base);
	position: relative;
}

.filterDropdownItem.select {
	padding-left: var(--spacing-xl);
}

.filterDropdownItem[data-disabled] {
	pointer-events: none;
}

.filterDropdownItem[data-highlighted] {
	background-color: var(--color-foreground-light);
}

.filterDropdownItemIndicator {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: var(--spacing-2xs);
	width: 16px;
	height: 16px;
}
