# We want to include the THIRD_PARTY_LICENSES.md file in the Docker image,
# but not other .md files
**/*.md
!**/THIRD_PARTY_LICENSES.md
**/.env
.cache
assets
node_modules
packages/node-dev
packages/**/node_modules
packages/**/dist
packages/**/.turbo
packages/**/*.test.*
.git
.github
!.github/scripts
*.tsbuildinfo
docker/compose
docker/**/Dockerfile
.vscode
packages/testing
cypress