*.sh text eol=lf
.devcontainer/** merge=ours
workflows/** merge=ours
.github/** merge=ours
workflows-static/** merge=ours
initial-credentials/** merge=ours
updates/** merge=ours
docker-compose.yml merge=ours
requirements.txt merge=ours
README.md merge=ours
TODO.md merge=ours