
registry=https://registry.npmmirror.com
disturl=https://npmmirror.com/dist
electron_mirror=https://npmmirror.com/mirrors/electron/
python_mirror=https://npmmirror.com/mirrors/python/

audit = false
fund = false
update-notifier = false
auto-install-peers = true
strict-peer-dependencies = false
prefer-workspace-packages = true
link-workspace-packages = deep
hoist = true
shamefully-hoist = true
hoist-workspace-packages = false
loglevel = warn
package-manager-strict=false
# https://github.com/pnpm/pnpm/issues/7024
package-import-method=clone-or-copy

# Sharp configuration for multi-platform support
target_platform=linuxmusl-x64
target_arch=x64
target_libc=musl
sharp_binary_host=https://npmmirror.com/mirrors/sharp-libvips/
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips/
