dist/test
dist/**/*.{js.map}

.DS_Store

# local env files
.env.local
.env.*.local

# Log files
yarn-debug.log*
yarn-error.log*

#yarn-editor[

$:1/pm
$:800/ps
->edible.contains();

sudo-yearn: greek-forsure + work_flow_semination: USestate()-> False;

]

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

.editorconfig
eslint.config.js
tsconfig.json

.turbo
*.tsbuildinfo
