packages/editor-ui
packages/design-system
*package.json

!packages/nodes-base/src
!packages/nodes-base/test
!packages/nodes-base/nodes

packages/nodes-base/nodes/ActionNetwork
packages/nodes-base/nodes/ActiveCampaign
packages/nodes-base/nodes/AcuityScheduling
packages/nodes-base/nodes/Affinity
packages/nodes-base/nodes/AgileCrm
packages/nodes-base/nodes/Airtable
packages/nodes-base/nodes/Amqp
packages/nodes-base/nodes/ApiTemplateIo
packages/nodes-base/nodes/Asana
packages/nodes-base/nodes/Automizy
packages/nodes-base/nodes/Autopilot
packages/nodes-base/nodes/Aws
packages/nodes-base/nodes/BambooHr
packages/nodes-base/nodes/Bannerbear
packages/nodes-base/nodes/Baserow
packages/nodes-base/nodes/Beeminder
packages/nodes-base/nodes/Bitbucket
packages/nodes-base/nodes/Bitly
packages/nodes-base/nodes/Bitwarden
packages/nodes-base/nodes/Box
packages/nodes-base/nodes/Brandfetch
packages/nodes-base/nodes/Bubble
packages/nodes-base/nodes/Cal
packages/nodes-base/nodes/Calendly
packages/nodes-base/nodes/Chargebee
packages/nodes-base/nodes/CircleCi
packages/nodes-base/nodes/Cisco
packages/nodes-base/nodes/Clearbit
packages/nodes-base/nodes/ClickUp
packages/nodes-base/nodes/Clockify
packages/nodes-base/nodes/Cockpit
packages/nodes-base/nodes/Coda
packages/nodes-base/nodes/CoinGecko
packages/nodes-base/nodes/Compression
packages/nodes-base/nodes/Contentful
packages/nodes-base/nodes/ConvertKit
packages/nodes-base/nodes/Copper
packages/nodes-base/nodes/Cortex
packages/nodes-base/nodes/CrateDb
packages/nodes-base/nodes/Cron
packages/nodes-base/nodes/Crypto
packages/nodes-base/nodes/CustomerIo
packages/nodes-base/nodes/DateTime
packages/nodes-base/nodes/DeepL
packages/nodes-base/nodes/Demio
packages/nodes-base/nodes/Dhl
packages/nodes-base/nodes/Discord
packages/nodes-base/nodes/Discourse
packages/nodes-base/nodes/Disqus
packages/nodes-base/nodes/Drift
packages/nodes-base/nodes/Dropbox
packages/nodes-base/nodes/Dropcontact
packages/nodes-base/nodes/EditImage
packages/nodes-base/nodes/Egoi
packages/nodes-base/nodes/Elastic
packages/nodes-base/nodes/EmailReadImap
packages/nodes-base/nodes/EmailSend
packages/nodes-base/nodes/Emelia
packages/nodes-base/nodes/ERPNext
packages/nodes-base/nodes/ErrorTrigger
packages/nodes-base/nodes/Eventbrite
packages/nodes-base/nodes/ExecuteCommand
packages/nodes-base/nodes/ExecuteWorkflow
packages/nodes-base/nodes/Facebook
packages/nodes-base/nodes/Figma
packages/nodes-base/nodes/FileMaker
packages/nodes-base/nodes/Flow
packages/nodes-base/nodes/FormIo
packages/nodes-base/nodes/Formstack
packages/nodes-base/nodes/Freshdesk
packages/nodes-base/nodes/Freshservice
packages/nodes-base/nodes/FreshworksCrm
packages/nodes-base/nodes/Ftp
packages/nodes-base/nodes/Function
packages/nodes-base/nodes/FunctionItem
packages/nodes-base/nodes/GetResponse
packages/nodes-base/nodes/Ghost
packages/nodes-base/nodes/Git
packages/nodes-base/nodes/Github
packages/nodes-base/nodes/Gitlab
packages/nodes-base/nodes/Google
packages/nodes-base/nodes/Gotify
packages/nodes-base/nodes/GoToWebinar
packages/nodes-base/nodes/Grafana
packages/nodes-base/nodes/GraphQL
packages/nodes-base/nodes/Grist
packages/nodes-base/nodes/Gumroad
packages/nodes-base/nodes/HackerNews
packages/nodes-base/nodes/HaloPSA
packages/nodes-base/nodes/Harvest
packages/nodes-base/nodes/HelpScout
packages/nodes-base/nodes/HomeAssistant
packages/nodes-base/nodes/HtmlExtract
packages/nodes-base/nodes/HttpRequest
packages/nodes-base/nodes/Hubspot
packages/nodes-base/nodes/HumanticAI
packages/nodes-base/nodes/Hunter
packages/nodes-base/nodes/ICalendar
packages/nodes-base/nodes/If
packages/nodes-base/nodes/Intercom
packages/nodes-base/nodes/Interval
packages/nodes-base/nodes/InvoiceNinja
packages/nodes-base/nodes/ItemLists
packages/nodes-base/nodes/Iterable
packages/nodes-base/nodes/Jenkins
packages/nodes-base/nodes/Jira
packages/nodes-base/nodes/JotForm
packages/nodes-base/nodes/Kafka
packages/nodes-base/nodes/Keap
packages/nodes-base/nodes/Kitemaker
packages/nodes-base/nodes/KoBoToolbox
packages/nodes-base/nodes/Lemlist
packages/nodes-base/nodes/Line
packages/nodes-base/nodes/Linear
packages/nodes-base/nodes/LingvaNex
packages/nodes-base/nodes/LinkedIn
packages/nodes-base/nodes/LocalFileTrigger
packages/nodes-base/nodes/Magento
packages/nodes-base/nodes/Mailcheck
packages/nodes-base/nodes/Mailchimp
packages/nodes-base/nodes/MailerLite
packages/nodes-base/nodes/Mailgun
packages/nodes-base/nodes/Mailjet
packages/nodes-base/nodes/Mandrill
packages/nodes-base/nodes/Markdown
packages/nodes-base/nodes/Marketstack
packages/nodes-base/nodes/Matrix
packages/nodes-base/nodes/Mattermost
packages/nodes-base/nodes/Mautic
packages/nodes-base/nodes/Medium
packages/nodes-base/nodes/Merge
packages/nodes-base/nodes/MessageBird
packages/nodes-base/nodes/Microsoft
packages/nodes-base/nodes/Misp
packages/nodes-base/nodes/Mocean
packages/nodes-base/nodes/MondayCom
packages/nodes-base/nodes/MongoDb
packages/nodes-base/nodes/MonicaCrm
packages/nodes-base/nodes/MoveBinaryData
packages/nodes-base/nodes/MQTT
packages/nodes-base/nodes/Msg91
packages/nodes-base/nodes/MySql
packages/nodes-base/nodes/N8nTrainingCustomerDatastore
packages/nodes-base/nodes/N8nTrainingCustomerMessenger
packages/nodes-base/nodes/N8nTrigger
packages/nodes-base/nodes/Nasa
packages/nodes-base/nodes/Netlify
packages/nodes-base/nodes/NextCloud
packages/nodes-base/nodes/NocoDB
packages/nodes-base/nodes/NoOp
packages/nodes-base/nodes/Notion
packages/nodes-base/nodes/Odoo
packages/nodes-base/nodes/OneSimpleApi
packages/nodes-base/nodes/Onfleet
packages/nodes-base/nodes/OpenThesaurus
packages/nodes-base/nodes/OpenWeatherMap
packages/nodes-base/nodes/Orbit
packages/nodes-base/nodes/Oura
packages/nodes-base/nodes/Paddle
packages/nodes-base/nodes/PagerDuty
packages/nodes-base/nodes/PayPal
packages/nodes-base/nodes/Peekalink
packages/nodes-base/nodes/Phantombuster
packages/nodes-base/nodes/PhilipsHue
packages/nodes-base/nodes/Pipedrive
packages/nodes-base/nodes/Plivo
packages/nodes-base/nodes/PostBin
packages/nodes-base/nodes/Postgres
packages/nodes-base/nodes/PostHog
packages/nodes-base/nodes/Postmark
packages/nodes-base/nodes/ProfitWell
packages/nodes-base/nodes/Pushbullet
packages/nodes-base/nodes/Pushcut
packages/nodes-base/nodes/Pushover
packages/nodes-base/nodes/QuestDb
packages/nodes-base/nodes/QuickBase
packages/nodes-base/nodes/QuickBooks
packages/nodes-base/nodes/RabbitMQ
packages/nodes-base/nodes/Raindrop
packages/nodes-base/nodes/ReadBinaryFile
packages/nodes-base/nodes/ReadBinaryFiles
packages/nodes-base/nodes/ReadPdf
packages/nodes-base/nodes/Reddit
packages/nodes-base/nodes/Redis
packages/nodes-base/nodes/RenameKeys
packages/nodes-base/nodes/RespondToWebhook
packages/nodes-base/nodes/Rocketchat
packages/nodes-base/nodes/RssFeedRead
packages/nodes-base/nodes/Rundeck
packages/nodes-base/nodes/S3
packages/nodes-base/nodes/Salesforce
packages/nodes-base/nodes/Salesmate
packages/nodes-base/nodes/SeaTable
packages/nodes-base/nodes/SecurityScorecard
packages/nodes-base/nodes/Segment
packages/nodes-base/nodes/SendGrid
packages/nodes-base/nodes/Sendy
packages/nodes-base/nodes/SentryIo
packages/nodes-base/nodes/ServiceNow
packages/nodes-base/nodes/Set
packages/nodes-base/nodes/Shopify
packages/nodes-base/nodes/Signl4
packages/nodes-base/nodes/Slack
packages/nodes-base/nodes/Sms77
packages/nodes-base/nodes/Snowflake
packages/nodes-base/nodes/SplitInBatches
packages/nodes-base/nodes/Splunk
packages/nodes-base/nodes/Spontit
packages/nodes-base/nodes/Spotify
packages/nodes-base/nodes/SpreadsheetFile
packages/nodes-base/nodes/SseTrigger
packages/nodes-base/nodes/Ssh
packages/nodes-base/nodes/Stackby
packages/nodes-base/nodes/Start
packages/nodes-base/nodes/StickyNote
packages/nodes-base/nodes/StopAndError
packages/nodes-base/nodes/Storyblok
packages/nodes-base/nodes/Strapi
packages/nodes-base/nodes/Strava
packages/nodes-base/nodes/Stripe
packages/nodes-base/nodes/Supabase
packages/nodes-base/nodes/SurveyMonkey
packages/nodes-base/nodes/Switch
packages/nodes-base/nodes/SyncroMSP
packages/nodes-base/nodes/Taiga
packages/nodes-base/nodes/Tapfiliate
packages/nodes-base/nodes/Telegram
packages/nodes-base/nodes/TheHive
packages/nodes-base/nodes/TimescaleDb
packages/nodes-base/nodes/Todoist
packages/nodes-base/nodes/Toggl
packages/nodes-base/nodes/TravisCi
packages/nodes-base/nodes/Trello
packages/nodes-base/nodes/Twake
packages/nodes-base/nodes/Twilio
packages/nodes-base/nodes/Twist
packages/nodes-base/nodes/Twitter
packages/nodes-base/nodes/Typeform
packages/nodes-base/nodes/UnleashedSoftware
packages/nodes-base/nodes/Uplead
packages/nodes-base/nodes/UProc
packages/nodes-base/nodes/UptimeRobot
packages/nodes-base/nodes/UrlScanIo
packages/nodes-base/nodes/utils
packages/nodes-base/nodes/Vero
packages/nodes-base/nodes/Vonage
packages/nodes-base/nodes/Wait
packages/nodes-base/nodes/Webflow
packages/nodes-base/nodes/Webhook
packages/nodes-base/nodes/Wekan
packages/nodes-base/nodes/Wise
packages/nodes-base/nodes/WooCommerce
packages/nodes-base/nodes/Wordpress
packages/nodes-base/nodes/Workable
packages/nodes-base/nodes/WorkflowTrigger
packages/nodes-base/nodes/WriteBinaryFile
packages/nodes-base/nodes/Wufoo
packages/nodes-base/nodes/Xero
packages/nodes-base/nodes/Xml
packages/nodes-base/nodes/Yourls
packages/nodes-base/nodes/Zammad
packages/nodes-base/nodes/Zendesk
packages/nodes-base/nodes/Zoho
packages/nodes-base/nodes/Zoom
packages/nodes-base/nodes/Zulip
