services:
  - type: web
    name: n8n
    env: node
    buildCommand: pnpm install && turbo run build --filter=n8n --filter=n8n-core --filter=n8n-workflow --filter=n8n-nodes-base --filter=@n8n/utils --filter=@n8n/decorators --filter=@n8n/api-types --filter=@n8n/backend-common --filter=@n8n/errors --filter=@n8n/db --filter=@n8n/config --filter=@n8n/constants --filter=@n8n/permissions --filter=@n8n/di --filter=!@n8n/composables --concurrency=2
    startCommand: pnpm run start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NODE_OPTIONS
        value: --max-old-space-size=4096
      - key: N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS
        value: false
