[
	{
		"scope": "https://ai-gateway.vercel.sh:443",
		"method": "POST",
		"path": "/v1/language-model",
		"body": {
			"toolChoice": {
				"type": "auto"
			},
			"prompt": [
				{
					"role": "system",
					"content": "Reply with exactly OK."
				},
				{
					"role": "user",
					"content": [
						{
							"type": "text",
							"text": "Acknowledge."
						}
					]
				}
			],
			"includeRawChunks": true
		},
		"status": 404,
		"response": "{\"error\":{\"message\":\"The requested resource was not found: /v1/language-model\",\"type\":\"not_found_error\",\"param\":null,\"code\":\"not_found_error\"}}",
		"rawHeaders": {
			"content-type": "application/json",
			"x-matched-path": "/v1/[...slug]",
			"x-vercel-cache": "MISS",
			"x-vercel-id": "lhr1::cdg1::6kq9z-1791304108394-566e8b2ab215"
		},
		"responseIsBinary": false
	}
]
