/* Focus State
 -------------------------- */

@mixin focus-ring {
	outline: var(--focus--border-width) solid var(--focus--outline-color);
}

@mixin focus-visible-ring {
	&:focus-visible {
		@include focus-ring;
	}
}

@mixin focus-within-ring {
	&:focus-within {
		@include focus-ring;
	}
}

@mixin focus-ring-offset {
	outline: var(--focus--border-width) solid var(--border-color--focus);
	outline-offset: var(--spacing--5xs);
}

@mixin focus-visible-ring-offset {
	&:focus-visible {
		@include focus-ring-offset;
	}
}

@mixin focus-ring-gap {
	box-shadow:
		0 0 0 var(--spacing--5xs) var(--background--surface),
		0 0 0 calc(var(--spacing--5xs) + var(--focus--border-width)) var(--border-color--focus);
}
