// Primary Theme Color
$--color-primary: #ff6d5a;
$--color-primary-light: #fbebed;

// Dialog
$--custom-dialog-text-color: #666;
$--custom-dialog-background: #fff;

$--custom-font-light: #777;
$--custom-font-very-light: #999;

$--custom-header-background: #384d5b;

$--custom-expression-text: #996688;
$--custom-expression-background: #f7f5ff;

$--custom-window-sidebar-top : #fff5f2;

$--custom-error-background : #ffe5e5;
$--custom-error-text : #eb2222;
$--custom-running-background : #ffffe5;
$--custom-running-text : #eb9422;
$--custom-success-background : #e3f0e4;
$--custom-success-text : #40c351;
$--custom-warning-background : #ffffe5;
$--custom-warning-text : #eb9422;

$--custom-node-view-background : #faf9fe;

// Table
$--custom-table-background-main: $--custom-header-background	;
$--custom-table-background-alternative: #f5f5f5;
$--custom-table-background-alternative2: lighten($--custom-table-background-main, 60% );

$--custom-input-background: #f0f0f0;
$--custom-input-background-disabled: #ccc;
$--custom-input-font: #333;
$--custom-input-font-disabled: #555;

$--table-row-hover-background: lighten( $--custom-table-background-alternative, 15% );
$--table-current-row-background: $--table-row-hover-background;
