// Primary Theme Color
$--color-primary: var(--color-primary);

// Dialog
$--custom-dialog-text-color: var(--color-text-base);
$--custom-dialog-background: var(--color-background-xlight);

$--custom-font-black: var(--color-text-dark);
$--custom-font-dark: var(--color-text-dark);
$--custom-font-light: var(--color-text-light);
$--custom-font-very-light: var(--color-text-light);

$--custom-header-background: var(--color-foreground-xdark);

$--custom-expression-text: var(--color-text-dark);
$--custom-expression-background: var(--color-background-lighter);

// Badge
$--badge-danger-color: var(--color-danger);
$--badge-danger-background-color: #fef0f0;
$--badge-danger-border-color: #fde2e2;
$--badge-warning-background-color: rgba(255, 229, 100, 0.3);
$--badge-warning-color: #6b5900;

// Warning tooltip
$--warning-tooltip-color: #ff8080;

// Table
$--custom-table-background-main: $--custom-header-background;
$--custom-table-background-stripe-color: var(--color-foreground-light);
$--custom-table-background-hover-color: var(--color-foreground-base);

$--custom-input-background-disabled: #ccc;
$--custom-input-font: #333;
$--custom-input-border-color: var(--color-text-lighter);
$--custom-input-font-disabled: #555;
$--custom-input-border-shadow: 1px solid $--custom-input-border-color;

$--header-height: 65px;

// sidebar
$--sidebar-width: 65px;
$--sidebar-expanded-width: 200px;
$--sidebar-inactive-color: var(--color-foreground-xdark);
$--sidebar-active-color: $--color-primary;

// gifts notification
$--gift-notification-active-color: $--color-primary;
$--gift-notification-inner-color: $--color-primary;
$--gift-notification-outer-color: var(--color-text-xlight);

// based on element.io breakpoints
$--breakpoint-2xs: 600px;
$--breakpoint-xs: 768px;
$--breakpoint-sm: 992px;
$--breakpoint-md: 1200px;
$--breakpoint-lg: 1920px;

// tags
$--tag-background-color: #dce1e9;
$--tag-text-color: #3d3f46;
$--tag-close-background-color: #717782;
$--tag-close-background-hover-color: #3d3f46;

// Node creator
$--node-creator-width: 385px;
$--node-creator-text-color: var(--color-text-dark);
$--node-creator-select-background-color: var(--color-background-base);
$--node-creator-background-color: var(--color-background-xlight);
$--node-creator-search-background-color: var(--color-background-xlight);
$--node-creator-border-color: var(--color-foreground-base);
$--node-creator-item-hover-border-color: var(--color-text-light);
$--node-creator-arrow-color: var(--color-text-light);
$--node-creator-no-results-background-color: var(--color-background-xlight);
$--node-creator-close-button-color: var(--color-text-xlight);
$--node-creator-search-clear-background-color: var(--color-text-light);
$--node-creator-search-clear-background-color-hover: var(--color-text-base);
$--node-creator-search-placeholder-color: var(--color-foreground-xdark);
$--node-creator-subcategory-panel-header-bacground-color: var(--color-background-base);
$--node-creator-description-color: var(--color-text-base);

// trigger icon
$--trigger-icon-border-color: var(--color-text-lighter);
$--trigger-icon-background-color: var(--color-background-xlight);

// drawer
$--drawer-background-color: var(--color-background-xlight);

// updates-panel
$--updates-panel-info-url-color: $--color-primary;
$--updates-panel-border: var(--border-base);
$--updates-panel-dark-background-color: var(--color-background-lighter);
$--updates-panel-description-text-color: var(--color-text-base);
$--updates-panel-text-color: var(--color-text-dark);

// versions card
$--version-card-name-text-color: var(--color-text-base);
$--version-card-background-color: var(--color-background-xlight);
$--version-card-border: var(--border-base);
$--version-card-description-text-color: var(--color-text-base);
$--version-card-release-date-text-color: var(--color-foreground-xdark);
$--version-card-box-shadow-color: rgba(109, 48, 40, 0.07);


