:root {
	--node-type-background-l: 95%;
	--node-type-main-color-h: var(--color-foreground-xdark-h);
	--node-type-main-color-s: var(--color-foreground-xdark-s);
	--node-type-main-color-l: var(--color-foreground-xdark-l);
	--node-type-main-color: hsl(var(--node-type-main-color-h), var(--node-type-main-color-s), var(--node-type-main-color-l));
	--node-type-supplemental-color-h: 234;
	--node-type-supplemental-color-s: 80%;
	--node-type-supplemental-color-l: 36%;
	--node-type-supplemental-color: hsl(var(--node-type-supplemental-color-h), var(--node-type-supplemental-color-s), var(--node-type-supplemental-color-l));
	--node-type-chain-color-h: var(--node-type-supplemental-color-h);
	--node-type-chain-color-s: var(--node-type-supplemental-color-s);
	--node-type-chain-color-l: var(--node-type-supplemental-color-l);
	--node-type-chain-color: hsl(var(--node-type-chain-color-h), var(--node-type-chain-color-s), var(--node-type-chain-color-l));
	--node-type-chain-background: hsl(var(--node-type-chain-color-h), var(--node-type-chain-color-s), var(--node-type-background-l));
	--node-type-document-color-h: var(--node-type-supplemental-color-h);
	--node-type-document-color-s: var(--node-type-supplemental-color-s);
	--node-type-document-color-l: var(--node-type-supplemental-color-l);
	--node-type-document-color: hsl(var(--node-type-document-color-h), var(--node-type-document-color-s), var(--node-type-document-color-l));
	--node-type-document-background: hsl(var(--node-type-document-color-h), var(--node-type-document-color-s), var(--node-type-background-l));
	--node-type-embedding-color-h: var(--node-type-supplemental-color-h);
	--node-type-embedding-color-s: var(--node-type-supplemental-color-s);
	--node-type-embedding-color-l: var(--node-type-supplemental-color-l);
	--node-type-embedding-color: hsl(var(--node-type-embedding-color-h), var(--node-type-embedding-color-s), var(--node-type-embedding-color-l));
	--node-type-embedding-background: hsl(var(--node-type-embedding-color-h), var(--node-type-embedding-color-s), var(--node-type-background-l));
	--node-type-languageModel-color-h: var(--node-type-supplemental-color-h);
	--node-type-languageModel-color-s: var(--node-type-supplemental-color-s);
	--node-type-languageModel-color-l: var(--node-type-supplemental-color-l);
	--node-type-languageModel-color: hsl(var(--node-type-languageModel-color-h), var(--node-type-languageModel-color-s), var(--node-type-languageModel-color-l));
	--node-type-languageModel-background: hsl(var(--node-type-languageModel-color-h), var(--node-type-languageModel-color-s), var(--node-type-background-l));
	--node-type-memory-color-h: var(--node-type-supplemental-color-h);
	--node-type-memory-color-s: var(--node-type-supplemental-color-s);
	--node-type-memory-color-l: var(--node-type-supplemental-color-l);
	--node-type-memory-color: hsl(var(--node-type-memory-color-h), var(--node-type-memory-color-s), var(--node-type-memory-color-l));
	--node-type-memory-background: hsl(var(--node-type-memory-color-h), var(--node-type-memory-color-s), var(--node-type-background-l));
	--node-type-outputParser-color-h: var(--node-type-supplemental-color-h);
	--node-type-outputParser-color-s: var(--node-type-supplemental-color-s);
	--node-type-outputParser-color-l: var(--node-type-supplemental-color-l);
	--node-type-outputParser-color: hsl(var(--node-type-outputParser-color-h), var(--node-type-outputParser-color-s), var(--node-type-outputParser-color-l));
	--node-type-outputParser-background: hsl(var(--node-type-outputParser-color-h), var(--node-type-outputParser-color-s), var(--node-type-background-l));
	--node-type-tool-color-h: var(--node-type-supplemental-color-h);
	--node-type-tool-color-s: var(--node-type-supplemental-color-s);
	--node-type-tool-color-l: var(--node-type-supplemental-color-l);
	--node-type-tool-color: hsl(var(--node-type-tool-color-h), var(--node-type-tool-color-s), var(--node-type-tool-color-l));
	--node-type-tool-background: hsl(var(--node-type-tool-color-h), var(--node-type-tool-color-s), var(--node-type-background-l));
	--node-type-textSplitter-color-h: var(--node-type-supplemental-color-h);
	--node-type-textSplitter-color-s: var(--node-type-supplemental-color-s);
	--node-type-textSplitter-color-l: var(--node-type-supplemental-color-l);
	--node-type-textSplitter-color: hsl(var(--node-type-textSplitter-color-h), var(--node-type-textSplitter-color-s), var(--node-type-textSplitter-color-l));
	--node-type-textSplitter-background: hsl(var(--node-type-textSplitter-color-h), var(--node-type-textSplitter-color-s), var(--node-type-background-l));
	--node-type-vectorRetriever-color-h: var(--node-type-supplemental-color-h);
	--node-type-vectorRetriever-color-s: var(--node-type-supplemental-color-s);
	--node-type-vectorRetriever-color-l: var(--node-type-supplemental-color-l);
	--node-type-vectorRetriever-color: hsl(var(--node-type-vectorRetriever-color-h), var(--node-type-vectorRetriever-color-s), var(--node-type-vectorRetriever-color-l));
	--node-type-vectorRetriever-background: hsl(var(--node-type-vectorRetriever-color-h), var(--node-type-vectorRetriever-color-s), var(--node-type-background-l));
	--node-type-vectorStore-color-h: var(--node-type-supplemental-color-h);
	--node-type-vectorStore-color-s: var(--node-type-supplemental-color-s);
	--node-type-vectorStore-color-l: var(--node-type-supplemental-color-l);
	--node-type-vectorStore-color: hsl(var(--node-type-vectorStore-color-h), var(--node-type-vectorStore-color-s), var(--node-type-vectorStore-color-l));
	--node-type-vectorStore-background: hsl(var(--node-type-vectorStore-color-h), var(--node-type-vectorStore-color-s), var(--node-type-background-l));
}

.clickable {
	cursor: pointer !important;
}
.primary-color {
	color: $color-primary;
}
.text-light {
	color: $custom-font-light;
	font-weight: 400;
}

.el-dialog {
	border: var(--border-base);
	box-shadow: 0px 6px 16px rgb(68 28 23 / 6%);
	border-radius: 8px;
	margin-top: 15vh;

	@media (max-height: 1050px) {
		margin: 4em auto !important;
	}

	@media (max-height: 930px) {
		margin: 1em auto !important;
	}
	&.classic {
		.el-dialog__header {
			padding: 15px 20px;
		}

		.el-dialog__headerbtn {
			position: absolute;
			top: 0;
			right: -50px;
			color: var(--color-foreground-xlight);
			background-color: var(--color-background-dark);
			border-radius: 0 18px 18px 0;
			z-index: 110;
			font-size: 1.7em;
			text-align: center;
			line-height: 30px;
			height: 50px;
			width: 50px;
			.el-dialog__close {
				color: var(--color-foreground-xlight);
				font-weight: 400;
			}
			.el-dialog__close:hover {
				transform: scale(1.2);
			}
		}
		.el-dialog__body {
			color: $custom-dialog-text-color;
			padding: 0 20px 20px 20px;
		}
		.el-dialog__title {
			color: $custom-dialog-text-color;
		}
	}
}

.el-message-box {
	background-color: $custom-dialog-background;
	border: none;
	.el-message-box__headerbtn {
		.el-message-box__close {
			color: $custom-dialog-text-color;
		}
	}
	.el-message-box__content,
	.el-message-box__title {
		color: $custom-dialog-text-color;
	}
	.el-message-box-icon {
		width: var(--spacing-l);
		height: var(--spacing-l);
		&--warning {
			color: var(--color-warning);
		}
	}
}

// Notification Message
.el-message p {
	line-height: 1.5em;
}

// Table
.el-table {
	thead th {
		color: var(--color-text-base);
		background-color: var(--color-background-base);
	}
	tr {
		color: var(--color-text-dark);

		td {
			border: none;
		}
	}
	.tr {
		color: var(--color-text-dark);
	}
}
.el-table--striped {
	.el-table__body {
		tr.el-table__row--striped {
			background-color: var(--color-background-light);
			td {
				background: none;
			}
		}
		tr.el-table__row:hover,
		tr.el-table__row:hover > td {
			background-color: var(--color-primary-tint-3);
		}
	}
}

// Tabs
.type-selector:focus,
.el-tabs__header:focus,
.el-tabs__nav-wrap:focus,
.el-tabs__nav-scroll:focus,
.el-tabs__nav:focus {
	outline: none;
}
.el-tabs__item.is-active {
	font-weight: bold;
}

.el-tabs__content {
	border: 1px solid var(--color-foreground-base);
	border-radius: 0px var(--border-radius-base) var(--border-radius-base);
}
.el-tabs__header {
	border-bottom: 0 !important;
}
.el-tabs__nav {
	padding: 0;
	overflow: hidden;
}
.el-tabs__item {
	padding: var(--spacing-5xs) var(--spacing-2xs) !important;
	height: auto;
	line-height: var(--font-line-height-xloose);
	font-weight: var(--font-weight-regular);
	font-size: var(--font-size-2xs);

	&:not([aria-selected='true']) {
		background-color: var(--color-background-base);
		border-bottom: 1px solid var(--color-foreground-base) !important;
	}
}

// Loading Indicator
.el-loading-mask {
	background-color: var(--color-foreground-xlight);
	opacity: 0.8;
}

// Pagination
.el-pager li,
.el-pagination .btn-prev,
.el-pagination .btn-next {
	background: none;
	color: var(--color-text-dark);
}
.el-pagination button:disabled {
	background: none;
	color: var(--color-text-lighter);
}
.el-pager li.btn-quicknext,
.el-pager li.btn-quickprev {
	color: var(--color-text-dark);
}

// Notification
.el-notification {
	border-radius: 4px;
	border: none;
}

.el-notification__content {
	text-align: left;
	word-break: break-word;
	max-height: 60vh;
	overflow-y: auto;
}

.tags-container {
	.el-select-tags-wrapper .el-tag {
		font-size: 12px;
		font-weight: 400;
		display: flex;
		align-items: flex-end;

		&.is-closable {
			overflow-y: hidden;
		}

		.el-tag__close {
			max-height: 15px;
			max-width: 15px;
			margin-right: 6px;

			&:hover {
				background-color: $tag-close-background-hover-color !important;
			}
		}
	}
}

.add-option {
	> * {
		border: none;
	}

	.el-select .el-input.is-disabled {
		.el-input__icon {
			opacity: 1 !important;
			cursor: not-allowed;
			color: var(--color-foreground-dark);
		}
		.el-input__inner,
		.el-input__inner::placeholder {
			opacity: 1;
			color: var(--color-foreground-dark);
		}
	}
	.el-select .el-input:not(.is-disabled) .el-input__icon {
		color: var(--color-text-dark);
	}
	.el-input .el-input__inner {
		text-align: center;
	}
	.el-input:not(.is-disabled) .el-input__inner {
		&,
		&:hover,
		&:focus {
			border-radius: var(--border-radius-base);
			color: var(--color-text-dark);
			background-color: var(--color-background-base);
			border-color: var(--color-foreground-base);
			text-align: center;
		}

		&::placeholder {
			color: var(--color-text-dark);
			opacity: 1; /** Firefox */
		}
	}
}
