*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle/
build/
app/build/
local.properties

.idea/
*.iml
captures/

*.jks
*.keystore

app/src/main/assets/nodejs-project.bundle
app/src/main/jniLibs/arm64-v8a/
.DS_Store
