apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-pvc
  namespace: n8n
spec:
  accessModes:
    - ReadWriteOnce  
  resources:
    requests:
      storage: 20Gi  
  storageClassName: ozlevka-storage
