apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
  namespace: postgres  
spec:
  accessModes:
    - ReadWriteOnce  
  resources:
    requests:
      storage: 50Gi  
  storageClassName: ozlevka-storage
