.executions-list-move,
.executions-list-enter-active,
.executions-list-leave-active {
	transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.executions-list-enter-from,
.executions-list-leave-to {
	opacity: 0;
	transform: translateX(-100px);
}

.executions-list-leave-active {
	position: absolute;
}
