.fade-move,
.fade-enter-active,
.fade-leave-active {
	transition: all 1s cubic-bezier(0.55, 0, 0.1, 1);
}

.fade-enter-from,
.fade-leave-to {
	opacity: 0;
	transform: scaleY(0.01) translate(-100px, 0);
}

.fade-leave-active {
	position: absolute;
}
