@mixin theme {
	--color-primary-h: 53;
	--color-primary-s: 87%;
	--color-primary-l: 54%;
	--color-primary: hsl(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-l)
	);

	--color-primary-tint-1-l: 66%;
	--color-primary-tint-1: hsl(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-tint-1-l)
	);

	--color-primary-tint-2-l: 78%;
	--color-primary-tint-2: hsl(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-tint-2-l)
	);

	--color-primary-tint-3-l: 90%;
	--color-primary-tint-3: hsl(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-tint-3-l)
	);

	--color-primary-shade-1-l: 89%;
	--color-primary-shade-1: hsl(
		var(--color-primary-h),
		var(--color-primary-s),
		var(--color-primary-shade-1-l)
	);

	--color-secondary-h: 48;
	--color-secondary-s: 5%;
	--color-secondary-l: 21%;
	--color-secondary: hsl(
		var(--color-secondary-h),
		var(--color-secondary-s),
		var(--color-secondary-l)
	);

	--color-success-h: 76;
	--color-success-s: 89%;
	--color-success-l: 64%;
	--color-success: hsl(
		var(--color-success-h),
		var(--color-success-s),
		var(--color-success-l)
	);

	--color-success-tint-1-l: 12%;
	--color-success-tint-1: hsl(
		var(--color-success-h),
		var(--color-success-s),
		var(--color-success-tint-1-l)
	);

	--color-success-tint-2-l: 3%;
	--color-success-tint-2: hsl(
		var(--color-success-h),
		var(--color-success-s),
		var(--color-success-tint-2-l)
	);

	--color-warning-h: 30;
	--color-warning-s: 53%;
	--color-warning-l: 51%;
	--color-warning: hsl(
		var(--color-warning-h),
		var(--color-warning-s),
		var(--color-warning-l)
	);

	--color-warning-tint-1-l: 12%;
	--color-warning-tint-1: hsl(
		var(--color-warning-h),
		var(--color-warning-s),
		var(--color-warning-tint-1-l)
	);

	--color-warning-tint-2-l: 4%;
	--color-warning-tint-2: hsl(
		var(--color-warning-h),
		var(--color-warning-s),
		var(--color-warning-tint-2-l)
	);

	--color-danger-h: 9;
	--color-danger-s: 75%;
	--color-danger-l: 68%;
	--color-danger: hsl(
		var(--color-danger-h),
		var(--color-danger-s),
		var(--color-danger-l)
	);

	--color-danger-tint-1-l: 8%;
	--color-danger-tint-1: hsl(
		var(--color-danger-h),
		var(--color-danger-s),
		var(--color-danger-tint-1-l)
	);

	--color-danger-tint-2-l: 3%;
	--color-danger-tint-2: hsl(
		var(--color-danger-h),
		var(--color-danger-s),
		var(--color-danger-tint-2-l)
	);

	--color-info-h: 64;
	--color-info-s: 60%;
	--color-info-l: 47%;
	--color-info: hsl(
		var(--color-info-h),
		var(--color-info-s),
		var(--color-info-l)
	);

	--color-info-tint-1-l: 12%;
	--color-info-tint-1: hsl(
		var(--color-info-h),
		var(--color-info-s),
		var(--color-info-tint-1-l)
	);

	--color-info-tint-2-l: 4%;
	--color-info-tint-2: hsl(
		var(--color-info-h),
		var(--color-info-s),
		var(--color-info-tint-2-l)
	);

	--color-text-dark-h: 53;
	--color-text-dark-s: 87%;
	--color-text-dark-l: 60%;
	--color-text-dark: hsl(
		var(--color-text-dark-h),
		var(--color-text-dark-s),
		var(--color-text-dark-l)
	);

	--color-text-base-h: 53;
	--color-text-base-s: 87%;
	--color-text-base-l: 54%;
	--color-text-base: hsl(
		var(--color-text-base-h),
		var(--color-text-base-s),
		var(--color-text-base-l)
	);

	--color-text-light-h: 61;
	--color-text-light-s: 77%;
	--color-text-light-l: 72%;
	--color-text-light: hsl(
		var(--color-text-light-h),
		var(--color-text-light-s),
		var(--color-text-light-l)
	);

	--color-text-lighter-h: 58;
	--color-text-lighter-s: 90%;
	--color-text-lighter-l: 83%;
	--color-text-lighter: hsl(
		var(--color-text-lighter-h),
		var(--color-text-lighter-s),
		var(--color-text-lighter-l)
	);

	--color-text-xlight-h: 58;
	--color-text-xlight-s: 90%;
	--color-text-xlight-l: 92%;
	--color-text-xlight: hsl(
		var(--color-text-xlight-h),
		var(--color-text-xlight-s),
		var(--color-text-xlight-l)
	);

	--color-foreground-xdark-h: 220;
	--color-foreground-xdark-s: 7.4%;
	--color-foreground-xdark-l: 52.5%;
	--color-foreground-xdark: hsl(
		var(--color-foreground-xdark-h),
		var(--color-foreground-xdark-s),
		var(--color-foreground-xdark-l)
	);

	--color-foreground-base-h: 43;
	--color-foreground-base-s: 5%;
	--color-foreground-base-l: 72%;
	--color-foreground-base: hsl(
		var(--color-foreground-base-h),
		var(--color-foreground-base-s),
		var(--color-foreground-base-l)
	);

	--color-foreground-light-h: 0;
	--color-foreground-light-s: 0%;
	--color-foreground-light-l: 7%;
	--color-foreground-light: hsl(
		var(--color-foreground-light-h),
		var(--color-foreground-light-s),
		var(--color-foreground-light-l)
	);

	--color-foreground-xlight-h: 0;
	--color-foreground-xlight-s: 0%;
	--color-foreground-xlight-l: 100%;
	--color-foreground-xlight: hsl(
		var(--color-foreground-xlight-h),
		var(--color-foreground-xlight-s),
		var(--color-foreground-xlight-l)
	);

	--color-background-dark-h: 0;
	--color-background-dark-s: 0%;
	--color-background-dark-l: 100%;
	--color-background-dark: hsl(
		var(--color-background-dark-h),
		var(--color-background-dark-s),
		var(--color-background-dark-l)
	);

	--color-background-base-h: 220;
	--color-background-base-s: 30%;
	--color-background-base-l: 96.1%;
	--color-background-base: hsl(
		var(--color-background-base-h),
		var(--color-background-base-s),
		var(--color-background-base-l)
	);

	--color-background-light-h: 220;
	--color-background-light-s: 60%;
	--color-background-light-l: 99%;
	--color-background-light: hsl(
		var(--color-background-light-h),
		var(--color-background-light-s),
		var(--color-background-light-l)
	);

	--color-background-lighter-h: 252;
	--color-background-lighter-s: 71.4%;
	--color-background-lighter-l: 98.6%;
	--color-background-lighter: hsl(
		var(--color-background-lighter-h),
		var(--color-background-lighter-s),
		var(--color-background-lighter-l)
	);

	--color-background-xlight-h: 48;
	--color-background-xlight-s: 5%;
	--color-background-xlight-l: 21%;
	--color-background-xlight: hsl(
		var(--color-background-xlight-h),
		var(--color-background-xlight-s),
		var(--color-background-xlight-l)
	);

	--color-canvas-dot-h: 204;
	--color-canvas-dot-s: 15.6%;
	--color-canvas-dot-l: 87.5%;
	--color-canvas-dot: hsl(
		var(--color-canvas-dot-h),
		var(--color-canvas-dot-s),
		var(--color-canvas-dot-l)
	);

	--color-canvas-background-h: 260;
	--color-canvas-background-s: 100%;
	--color-canvas-background-l: 99.4%;
	--color-canvas-background: hsl(
		var(--color-canvas-background-h),
		var(--color-canvas-background-s),
		var(--color-canvas-background-l)
	);

	--color-sticky-default-background-h: 46;
	--color-sticky-default-background-s: 100%;
	--color-sticky-default-background-l: 12%;
	--color-sticky-default-background: hsl(
		var(--color-sticky-default-background-h),
		var(--color-sticky-default-background-s),
		var(--color-sticky-default-background-l)
	);

	--color-sticky-default-border-h: 43;
	--color-sticky-default-border-s: 75%;
	--color-sticky-default-border-l: 80%;
	--color-sticky-default-border: hsl(
		var(--color-sticky-default-border-h),
		var(--color-sticky-default-border-s),
		var(--color-sticky-default-border-l)
	);

	--color-json-default: #5045A1;
	--color-json-null:  var(--color-danger);
	--color-json-boolean: #1d8ce0;
	--color-json-number: #1d8ce0;
	--color-json-string: #726b9f;
	--color-json-key: var(--color-text-dark);
	--color-json-brackets: var(--color-text-dark);
	--color-json-brackets-hover: #1890ff;
	--color-json-line: #bfcbd9;
	--color-json-highlight: hsl(226, 13%, 71%);
}

body.theme-dark {
	@include theme;

	#side-menu {
		.el-menu-item.logo-item {
			background-image: url('https://www.bvg.de/dam/jcr:ea2155cb-caeb-4e33-9ca2-3a6d85f4eedc/BVG_Herz_Gelb_RGB.svg');
			background-size: 65%;
			background-color: var(--color-background-xlight) !important;
			background-repeat: no-repeat;
			background-position: 14px 11px;
			.logo-text {
				color: var(--color-primary);
			}
			img {
				visibility: hidden;
			}
		}

		.expanded .el-menu-item.logo-item {
			background-size: 25%;
		}
	}

	.node-wrapper .node-default .node-box {
		background-color: var(--color-primary-tint-3);
	}
}
