@charset "UTF-8";
@use 'mixins/mixins';
@use 'mixins/utils';
@use 'mixins/function';

$active-shade-percent: 10%;
$color-primary-shade: function.lightness(
	--color-primary-h,
	--color-primary-s,
	--color-primary-l,
	-($active-shade-percent)
);

$font-weight: var(--font-weight-bold);
$font-size: var(--button-font-size, var(--font-size-s));

$padding-vertical: var(--button-padding-vertical, var(--spacing-xs));
$padding-horizontal: var(--button-padding-horizontal, var(--spacing-m));

$border-width: var(--border-width-base);
$border-style: var(--border-style-base);
$border-radius: var(--button-border-radius, 20px);
$border-color: var(--button-border-color, var(--color-primary));

$color: var(--button-color, var(--color-text-xlight));
$background-color: var(--button-background-color, var(--color-primary));

$active-color: var(--button-active-color, var(--color-text-xlight));
$active-border-color: var(--button-active-border-color, $color-primary-shade);
$active-background-color: var(--button-active-background-color, $color-primary-shade);

$disabled-color: var(--color-text-light);
$disabled-background-color: var(--button-disabled-background-color, var(--color-foreground-base));
$disabled-border-color: var(--color-foreground-base);

$loading-overlay-background-color: rgba(255, 255, 255, 0.35);

@include mixins.b(button) {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;

  border: $border-width $border-color $border-style;
  color: $color;
  background-color: $background-color;
  font-weight: $font-weight;
  border-radius: $border-radius;
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;

  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;

  @include utils.utils-user-select(none);

  &:active {
    color: $active-color;
    border-color: $active-border-color;
    background-color: $active-background-color;
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  @include mixins.when(loading) {
	position: relative;
	pointer-events: none;
    
	&:before {
	  pointer-events: none;
	  content: '';
	  position: absolute;
	  left: -1px;
	  top: -1px;
	  right: -1px;
	  bottom: -1px;
	  border-radius: inherit;
	  background-color: $loading-overlay-background-color;
	}
  }

  @include mixins.when(disabled) {
	&,
	&:hover,
	&:active,
	&:focus {
	  cursor: not-allowed;
	  background-image: none;
	  color: $disabled-color;
	  background-color: $disabled-background-color;
	  border-color: $disabled-border-color;
	}
  }

  @include mixins.when(circle) {
	border-radius: 50%;

	--button-padding-vertical: var(--spacing-xs);
	--button-padding-horizontal: var(--spacing-xs);
  }

  @include mixins.m(small) {
	--button-padding-vertical: var(--spacing-3xs);
	--button-padding-horizontal: var(--spacing-xs);
	--button-font-size: var(--font-size-2xs);
    
	@include mixins.when(circle) {
		--button-padding-vertical: var(--spacing-3xs);
		--button-padding-horizontal: var(--spacing-3xs);
	}
   }

   @include mixins.m(medium) {
	--button-padding-vertical: var(--spacing-2xs);
	--button-padding-horizontal: var(--spacing-xs);
	--button-font-size: var(--font-size-2xs);

	@include mixins.when(circle) {
		--button-padding-vertical: var(--spacing-2xs);
		--button-padding-horizontal: var(--spacing-2xs);
	}
   }
}
