@use "mixins/mixins";
@use "./common/var";

@include mixins.b(popconfirm) {
  @include mixins.e(main) {
    display: flex;
    align-items: center;
  }
  @include mixins.e(icon) {
    margin-right: 5px;
  }
  @include mixins.e(action) {
    text-align: right; 
    margin: 0
  }
}
