@use "mixins/mixins";
@use "common/var";

@include mixins.b(steps) {
  display: flex;

  @include mixins.m(simple) {
    padding: 13px 8%;
    border-radius: 4px;
    background: var.$background-color-base;
  }

  @include mixins.m(horizontal) {
    white-space: nowrap;
  }

  @include mixins.m(vertical) {
    height: 100%;
    flex-flow: column;
  }
}
