// Primitive Colors
// Primitive colors shouldn't be used directly in components an other UI elements.
// They can be only mapped to tokens.
// Tokens should be used instead in components an other UI elements

@mixin primitives {
	// Primary color palette
	--prim-color-white: hsl(0, 0, 100%);
	--prim-color-primary: hsl(7, 100%, 68%);
	--prim-color-secondary: hsl(247 49% 53%);
	--prim-color-alt-a: hsl(150 60% 40%);
	--prim-color-alt-b: hsl(36 77% 57%);
	--prim-color-alt-c: hsl(355, 83%, 52%);
	--prim-color-alt-d: hsl(46 100% 92%);
	--prim-color-alt-e: hsl(210 67% 57%);
	--prim-color-alt-f: hsl(72 100% 27%);
	--prim-color-alt-g: hsl(276 31% 50%);
	--prim-color-alt-h: hsl(184 44% 43%);
	--prim-color-alt-i: hsl(147 83% 44%);
	--prim-color-alt-j: hsl(247 10% 30%);
	--prim-color-alt-k: hsl(355 100% 69%);

	// Gray
	--prim-gray-h: 220;

	--prim-gray-820: hsl(var(--prim-gray-h), 1%, 18%);
	--prim-gray-800: hsl(var(--prim-gray-h), 1%, 20%);
	--prim-gray-780: hsl(var(--prim-gray-h), 1%, 22%);
	--prim-gray-740: hsl(var(--prim-gray-h), 2%, 26%);
	--prim-gray-670: hsl(var(--prim-gray-h), 2%, 33%);
	--prim-gray-540: hsl(var(--prim-gray-h), 4%, 46%);
	--prim-gray-490: hsl(var(--prim-gray-h), 3%, 51%);
	--prim-gray-420: hsl(var(--prim-gray-h), 4%, 58%);
	--prim-gray-320: hsl(var(--prim-gray-h), 10%, 68%);
	--prim-gray-200: hsl(var(--prim-gray-h), 18%, 80%);
	--prim-gray-120: hsl(var(--prim-gray-h), 25%, 88%);
	--prim-gray-70: hsl(var(--prim-gray-h), 32%, 93%);
	--prim-gray-70-alpha-01: hsla(var(--prim-gray-h), 32%, 93%, 0.1);
	--prim-gray-40: hsl(var(--prim-gray-h), 40%, 96%);
	--prim-gray-30: hsl(var(--prim-gray-h), 43%, 97%);
	--prim-gray-25: hsl(var(--prim-gray-h), 50%, 97.5%);
	--prim-gray-10: hsl(var(--prim-gray-h), 50%, 99%);
	--prim-gray-0-alpha-075: hsla(var(--prim-gray-h), 50%, 100%, 0.75);
	--prim-gray-0-alpha-030: hsla(var(--prim-gray-h), 50%, 100%, 0.3);
	--prim-gray-0-alpha-025: hsla(var(--prim-gray-h), 50%, 100%, 0.25);
	--prim-gray-0-alpha-010: hsla(var(--prim-gray-h), 50%, 100%, 0.1);
	--prim-gray-0: hsl(var(--prim-gray-h), 50%, 100%);

	// Color Primary
	--prim-color-primary-shade-300: hsl(from var(--prim-color-primary) h calc(s - 60) calc(l - 30));
	--prim-color-primary-shade-100: hsl(from var(--prim-color-primary) h calc(s - 15) calc(l - 10));
	--prim-color-primary-alpha-010: hsla(from var(--prim-color-primary) h s l 0.1);
	--prim-color-primary-alpha-035: hsla(from var(--prim-color-primary) h s l 0.35);
	--prim-color-primary-alpha-050: hsla(from var(--prim-color-primary) h s l 0.5);
	--prim-color-primary-tint-100: hsl(from var(--prim-color-primary) h s calc(l + 10));
	--prim-color-primary-tint-200: hsl(from var(--prim-color-primary) h s calc(l + 20));
	--prim-color-primary-tint-250: hsl(from var(--prim-color-primary) h s calc(l + 25));
	--prim-color-primary-tint-270: hsl(from var(--prim-color-primary) h s calc(l + 27));
	--prim-color-primary-tint-300: hsl(from var(--prim-color-primary) h s calc(l + 30));

	// Color Secondary
	--prim-color-secondary-shade-250: hsl(
		from var(--prim-color-secondary) h calc(s - 25) calc(l - 25)
	);
	--prim-color-secondary-shade-100: hsl(from var(--prim-color-secondary) h s calc(l - 10));
	--prim-color-secondary-alpha-025: hsla(from var(--prim-color-secondary) h s l 0.25);
	--prim-color-secondary-alpha-010: hsla(from var(--prim-color-secondary) h s l 0.1);
	--prim-color-secondary-tint-100: hsl(from var(--prim-color-secondary) h s calc(l + 10));
	--prim-color-secondary-tint-200: hsl(from var(--prim-color-secondary) h s calc(l + 20));
	--prim-color-secondary-tint-300: hsl(from var(--prim-color-secondary) h s calc(l + 30));
	--prim-color-secondary-tint-400: hsl(from var(--prim-color-secondary) h s calc(l + 40));

	// Color Alternate A
	--prim-color-alt-a-shade-200: hsl(from var(--prim-color-alt-a) h calc(s - 15) calc(l - 20));
	--prim-color-alt-a-shade-100: hsl(from var(--prim-color-alt-a) h calc(s - 15) calc(l - 10));
	--prim-color-alt-a-alpha-025: hsla(from var(--prim-color-alt-a) h s l 0.25);
	--prim-color-alt-a-alpha-015: hsla(from var(--prim-color-alt-a) h s l 0.15);
	--prim-color-alt-a-tint-300: hsl(from var(--prim-color-alt-a) h s calc(l + 30));
	--prim-color-alt-a-tint-400: hsl(from var(--prim-color-alt-a) h s calc(l + 40));
	--prim-color-alt-a-tint-500: hsl(from var(--prim-color-alt-a) h s calc(l + 50));
	--prim-color-alt-a-tint-550: hsl(from var(--prim-color-alt-a) h s calc(l + 55));

	// Color Alternate B
	--prim-color-alt-b-shade-350: hsl(from var(--prim-color-alt-b) h calc(s - 35) calc(l - 35));
	--prim-color-alt-b-shade-250: hsl(from var(--prim-color-alt-b) h calc(s - 35) calc(l - 25));
	--prim-color-alt-b-shade-100: hsl(from var(--prim-color-alt-b) h s calc(l - 10));
	--prim-color-alt-b-alpha-02: hsla(from var(--prim-color-alt-b) h s l 0.2);
	--prim-color-alt-b-tint-150: hsl(from var(--prim-color-alt-b) h s calc(l + 15));
	--prim-color-alt-b-tint-250: hsl(from var(--prim-color-alt-b) h s calc(l + 25));
	--prim-color-alt-b-tint-300: hsl(from var(--prim-color-alt-b) h s calc(l + 30));
	--prim-color-alt-b-tint-400: hsl(from var(--prim-color-alt-b) h s calc(l + 40));

	// Color Alternate C
	--prim-color-alt-c-shade-250: hsl(from var(--prim-color-alt-c) h calc(s - 40) calc(l - 25));
	--prim-color-alt-c-shade-150: hsl(from var(--prim-color-alt-c) h calc(s - 40) calc(l - 15));
	--prim-color-alt-c-shade-100: hsl(from var(--prim-color-alt-c) h s calc(l - 10));
	--prim-color-alt-c-alpha-02: hsla(from var(--prim-color-alt-c) h s l 0.2);
	--prim-color-alt-c-tint-150: hsl(from var(--prim-color-alt-c) h s calc(l + 15));
	--prim-color-alt-c-tint-250: hsl(from var(--prim-color-alt-c) h s calc(l + 25));
	--prim-color-alt-c-tint-300: hsl(from var(--prim-color-alt-c) h s calc(l + 30));
	--prim-color-alt-c-tint-400: hsl(from var(--prim-color-alt-c) h s calc(l + 40));
	--prim-color-alt-c-tint-450: hsl(from var(--prim-color-alt-c) h s calc(l + 45));

	// Color Alternate D
	--prim-color-alt-d-shade-700: hsl(from var(--prim-color-alt-d) h calc(s - 55) calc(l - 70));
	--prim-color-alt-d-shade-600: hsl(from var(--prim-color-alt-d) h calc(s - 55) calc(l - 60));
	--prim-color-alt-d-shade-150: hsl(from var(--prim-color-alt-d) h s calc(l - 15));

	// Color Alternate E
	--prim-color-alt-e-shade-350: hsl(from var(--prim-color-alt-e) h calc(s - 20) calc(l - 35));
	--prim-color-alt-e-shade-250: hsl(from var(--prim-color-alt-e) h calc(s - 20) calc(l - 25));
	--prim-color-alt-e-shade-150: hsl(from var(--prim-color-alt-e) h s calc(l - 15));
	--prim-color-alt-e-shade-100: hsl(from var(--prim-color-alt-e) h s calc(l - 10));
	--prim-color-alt-e-alpha-04: hsla(from var(--prim-color-alt-e) h s l 0.4);
	--prim-color-alt-e-tint-250: hsl(from var(--prim-color-alt-e) h s calc(l + 25));
	--prim-color-alt-e-tint-350: hsl(from var(--prim-color-alt-e) h s calc(l + 35));

	// Color Alternate F
	--prim-color-alt-f-tint-150: hsl(from var(--prim-color-alt-f) h s calc(l + 15));

	// Color Alternate G
	--prim-color-alt-g-tint-150: hsl(from var(--prim-color-alt-g) h s calc(l + 15));

	// Color Alternate J
	--prim-color-alt-j-alpha-075: hsla(var(--prim-color-alt-j) h s l 0.75);

	// TODO: remove all usage of these, and derive colors from the color palette
	--prim-color-primary-h: 7;
	--prim-color-primary-s: 100%;
}

:root {
	@include primitives;
}
