@use 'sass:math';

@mixin theme {
	// Text
	--color-text-dark: var(--prim-gray-40);
	--color-text-base: var(--prim-gray-200);
	--color-text-light: var(--prim-gray-320);
	--color-text-lighter: var(--prim-gray-740);
	--color-text-xlight: var(--prim-gray-820);

	// Foreground
	--color-foreground-xdark: var(--prim-gray-200);
	--color-foreground-dark: var(--prim-gray-420);
	--color-foreground-base: var(--prim-gray-670);
	--color-foreground-light: var(--prim-gray-740);
	--color-foreground-xlight: var(--prim-gray-820);

	// Background
	--color-background-dark: var(--prim-gray-70);
	--color-background-medium: var(--prim-gray-540);
	--color-background-base: var(--prim-gray-670);
	--color-background-light: var(--prim-gray-820);
	--color-background-xlight: var(--prim-gray-740);

	// Canvas
	--color-canvas-background: var(--prim-gray-820);
	--color-canvas-dot: var(--prim-gray-670);
	--color-canvas-read-only-line: var(--prim-gray-800);
	--color-canvas-node-background: var(--prim-gray-40);
	--color-canvas-node-pinned-border: var(--prim-color-secondary-tint-100);
	--color-canvas-selected: var(--prim-gray-0-alpha-025);
	--node-type-main-color: var(--prim-gray-420);

	// Expressions
	--color-valid-resolvable-foreground: var(--prim-color-alt-a-tint-300);
	--color-valid-resolvable-background: var(--prim-color-alt-a-alpha-025);
	--color-invalid-resolvable-foreground: var(--prim-color-alt-c-tint-250);
	--color-invalid-resolvable-background: var(--prim-color-alt-c-alpha-025);
	--color-expression-editor-background: var(--prim-gray-800);
	--color-expression-syntax-example: var(--prim-gray-670);

	// Code
	--color-code-tags-string: var(--prim-color-alt-f-tint-150);
	--color-code-tags-primitive: var(--prim-color-alt-b-shade-100);
	--color-code-tags-keyword: var(--prim-color-alt-g-tint-150);
	--color-code-tags-operator: var(--prim-color-primary0);
	--color-code-tags-variable: var(--prim-color-primary-tint-100);
	--color-code-tags-definition: var(--prim-color-alt-e);
	--color-json-default: var(--prim-color-secondary-tint-200);
	--color-json-null: var(--prim-color-alt-c-tint-150);
	--color-json-boolean: var(--prim-color-alt-a);
	--color-json-number: var(--prim-color-alt-a);
	--color-json-string: var(--prim-color-secondary-tint-200);
	--color-json-key: var(--prim-gray-670);
	--color-json-brackets: var(--prim-gray-670);
	--color-json-brackets-hover: var(--prim-color-alt-e);
	--color-json-line: var(--prim-gray-200);
	--color-json-highlight: var(--prim-gray-70);
	--color-code-background: var(--prim-gray-800);
	--color-code-background-readonly: var(--prim-gray-740);
	--color-code-lineHighlight: var(--prim-gray-740);
	--color-code-foreground: var(--prim-gray-70);
	--color-code-caret: var(--prim-gray-10);
	--color-code-selection: var(--prim-color-alt-e-alpha-04);
	--color-code-gutterBackground: var(--prim-gray-670);
	--color-code-gutterForeground: var(--prim-gray-320);
	--color-code-tags-comment: var(--prim-gray-200);

	// Variables
	--color-variables-usage-font: var(--prim-color-alt-a-tint-300);
	--color-variables-usage-syntax-bg: var(--prim-color-alt-a-alpha-025);

	// Button primary
	--color-button-primary-disabled-font: var(--prim-gray-0-alpha-025);
	--color-button-primary-disabled-border: transparent;
	--color-button-primary-disabled-background: var(--prim-color-primary-alpha-04);

	// Button secondary
	--color-button-secondary-border: var(--prim-gray-420);

	// Text button
	--color-text-button-secondary-font: var(--prim-gray-320);

	// Table
	--color-table-header-background: var(--prim-gray-740);
	--color-table-row-background: var(--prim-gray-820);
	--color-table-row-even-background: var(--prim-gray-800);
	--color-table-row-hover-background: var(--prim-gray-740);

	// Notification
	--color-notification-background: var(--prim-gray-740);

	// NDV
	--color-run-data-background: var(--prim-gray-800);
	--color-ndv-droppable-parameter: var(--prim-color-primary);
	--color-ndv-back-text: var(--prim-gray-0);
	--color-ndv-ouptut-error-font: var(--prim-color-alt-c-tint-150);

	// Notice
	--color-notice-font: var(--prim-gray-540);

	// Dialog
	--color-dialog-overlay-background: var(--prim-color-alt-j-alpha-075);
	--color-dialog-overlay-background-dark: var(--prim-color-alt-j-alpha-075);

	// Avatar
	--color-avatar-text: var(--prim-gray-0);

	// Workflow activator
	--color-workflow-activator-text: var(--prim-color-alt-c-tint-150);

	// Generated Color Shades from 50 to 950
	// Not yet used in design system
	// ! REMOVE THIS
	@each $color in ('neutral', 'success', 'warning', 'danger') {
		@each $shade
			in (
				50,
				100,
				150,
				200,
				250,
				300,
				350,
				400,
				450,
				500,
				550,
				600,
				650,
				700,
				750,
				800,
				850,
				900,
				950
			)
		{
			--color-#{$color}-#{$shade}-l: #{math.div($shade, 10)}#{'%'};
			--color-#{$color}-#{$shade}: hsl(
				var(--color-#{$color}-h),
				var(--color-#{$color}-s),
				var(--color-#{$color}-#{$shade}-l)
			);
		}
	}

	--border-radius-xlarge: 12px;
	--border-radius-large: 8px;
	--border-radius-base: 4px;
	--border-radius-small: 2px;
	--border-color-base: var(--color-foreground-base);
	--border-color-light: var(--color-foreground-light);

	--border-style-base: solid;
	--border-width-base: 1px;
	--border-base: var(--border-width-base) var(--border-style-base) var(--color-foreground-base);

	--font-size-3xs: 0.625rem;
	--font-size-2xs: 0.75rem;
	--font-size-xs: 0.8125rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.75rem;

	--font-line-height-compact: 1.25;
	--font-line-height-regular: 1.3;
	--font-line-height-loose: 1.35;
	--font-line-height-xloose: 1.5;

	--font-weight-regular: 400;
	--font-weight-bold: 600;
	--font-family: 'Open Sans', sans-serif;
	--font-family-monospace: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

body[data-theme='dark'] {
	@include theme;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme]) {
		@include theme;
	}
}
