@use "mixins/mixins";
@use "./common/var";

@include mixins.b(main) {
	// IE11 supports the <main> element partially https://caniuse.com/#search=main
	display: block;
	flex: 1;
	flex-basis: auto;
	overflow: auto;
	box-sizing: border-box;
	padding: var.$main-padding;
}
