@use '@n8n/design-system/css/mixins/popover' as popover;

@mixin panel {
	@include popover.popover-surface;
	@include popover.popover-placement-offsets;

	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: var(--context-menu--width, fit-content);
	min-width: var(--spacing--4xl);
	max-width: var(--context-menu--width, 24rem);
	max-height: var(--reka-context-menu-content-available-height);
}
