@use "mixins/mixins";

@include mixins.b(container) {
	display: flex;
	flex-direction: row;
	flex: 1;
	flex-basis: auto;
	box-sizing: border-box;
	min-width: 0;

	@include mixins.when(vertical) {
		flex-direction: column;
	}
}
