@use '../../design-system/src/css/_tokens.scss';
@use '../../design-system/src/css/common/var' with (
	$font-path: '../../design-system/src/assets/fonts'
);

/* Storybook-specific font paths - override font-path variable for static assets */
@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('#{var.$font-path}/InterVariable.woff2') format('woff2');
}

@font-face {
	font-family: InterVariable;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('#{var.$font-path}/InterVariable-Italic.woff2') format('woff2');
}

@font-face {
	font-family: CommitMono;
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('#{var.$font-path}/CommitMonoVariable.woff2') format('woff2');
}
