@use '../../design-system/src/css/base.scss';
@use '../../design-system/src/css/reset.scss';
@use '../../design-system/src/css/index.scss';
@use '../../design-system/src/css/_tokens.new.scss';

.multi-container > * {
	margin-bottom: 10px;
}

#storybook-root > div:not([class]) > *,
#storybook-root > * {
	margin: var(--spacing--5xs);
}

body {
	padding: 0 !important;
}

.story {
	padding: 2rem;
	display: flex;
	gap: 1rem;
}
