@font-face {
	font-family: 'Geist';
	src: url('../../../assets/fonts/Geist-Variable.woff2') format('woff2');
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	font-feature-settings: 'ss02' 1;
}

@font-face {
	font-family: 'Geist';
	src: url('../../../assets/fonts/Geist-Italic-Variable.woff2') format('woff2');
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	font-feature-settings: 'ss02' 1;
}
