// Primitive Colors
// The primitives should not be used directly in components and other UI elements.
// They can be only mapped to tokens.
// Tokens should be used instead in components and other UI elements

@mixin primitives {
	--color--gray--h: 220;

	// Gray
	--p--color--gray-820: var(--p--color--darkblue-1500);
	--p--color--gray-800: var(--p--color--darkblue-1400);
	--p--color--gray-780: var(--p--color--darkblue-1300);
	--p--color--gray-740: var(--p--color--midnight-main);
	--p--color--gray-710: var(--p--color--midnight-900);
	--p--color--gray-670: var(--p--color--midnight-800);
	--p--color--gray-540: var(--p--color--midnight-700);
	--p--color--gray-490: var(--p--color--midnight-600);
	--p--color--gray-420: var(--p--color--stale-main);
	--p--color--gray-320: var(--p--color--stale-900);
	--p--color--gray-200: var(--p--color--stale-500);
	--p--color--gray-120: hsl(var(--color--gray--h), 25%, 88%);
	--p--color--gray-070: hsl(var(--color--gray--h), 32%, 93%);
	--p--color--gray-040: hsl(var(--color--gray--h), 40%, 96%);
	--p--color--gray-030: hsl(var(--color--gray--h), 43%, 97%);
	--p--color--gray-025: var(--p--color--gray-100);
	--p--color--gray-010: var(--p--color--gray-50);
	--p--color--white: var(--p--color--io-white);

	// Gray alpha
	--p--color--gray-320-a-010: hsla(var(--p--color--gray), 10%, 68%, 0.1);
	--p--color--gray-70-a-010: hsla(var(--p--color--gray), 32%, 93%, 0.1);

	// White alpha
	--p--color--white-a-075: hsla(var(--p--color--gray), 50%, 100%, 0.75);
	--p--color--white-a-030: hsla(var(--p--color--gray), 50%, 100%, 0.3);
	--p--color--white-a-025: hsla(var(--p--color--gray), 50%, 100%, 0.25);
	--p--color--white-a-020: hsla(var(--p--color--gray), 50%, 100%, 0.2);
	--p--color--white-a-015: hsla(var(--p--color--gray), 50%, 100%, 0.15);
	--p--color--white-a-010: hsla(var(--p--color--gray), 50%, 100%, 0.1);

	// Primary color
	--p--color--primary--h: 224;
	--p--color--primary--s: 66%;
	--p--color--primary--l: 22%;

	--p--color--primary-420: var(--p--color--midnight-1500);
	--p--color--primary-320: var(--p--color--midnight-main); // Base
	--p--color--primary-220: var(--p--color--midnight-800);
	--p--color--primary-120: var(--p--color--midnight-600);
	--p--color--primary-070: var(--p--color--midnight-300);
	--p--color--primary-050: var(--p--color--midnight-100);
	--p--color--primary-030: var(--p--color--midnight-50);

	--p--color--primary-320-a-010: hsla(7, 100%, 68%, 0.1);
	--p--color--primary-320-a-035: hsla(7, 100%, 68%, 0.35);
	--p--color--primary-320-a-050: var(--p--color--midnight-900) // Secondary color
		// Secondary color
		--p--color--secondary-720: var(--p--color--stale-1700);
	--p--color--secondary-570: var(--p--color--stale-1200);
	--p--color--secondary-470: var(--p--color--stale-main); /* Base */
	--p--color--secondary-370: var(--p--color--stale-900);
	--p--color--secondary-270: var(--p--color--stale-700);
	--p--color--secondary-170: var(--p--color--stale-500);
	--p--color--secondary-070: var(--p--color--stale-200);

	--p--color--secondary-470-a-010: hsla(247, 49%, 53%, 0.1);
	--p--color--secondary-470-a-025: hsla(247, 49%, 53%, 0.25);

	// Color Alternate A
	--p--color--alt-a-800: var(--p--color--green-1900);
	--p--color--alt-a-700: var(--p--color--green-1700);
	--p--color--alt-a-600: var(--p--color--green-main); /* Base */
	--p--color--alt-a-300: var(--p--color--green-900);
	--p--color--alt-a-200: var(--p--color--green-700);
	--p--color--alt-a-100: var(--p--color--green-500);
	--p--color--alt-a-050: var(--p--color--green-400);

	--p--color--alt-a-600-a-015: hsla(150, 60%, 40%, 0.15);
	--p--color--alt-a-600-a-025: hsla(150, 60%, 40%, 0.25);

	// Color Alternate B

	--p--color--alt-b-780: var(--p--color--orange-1900);
	--p--color--alt-b-680: var(--p--color--orange-1700);
	--p--color--alt-b-530: var(--p--color--orange-1100);
	--p--color--alt-b-430: var(--p--color--orange-main); /* Base */
	--p--color--alt-b-280: var(--p--color--orange-800);
	--p--color--alt-b-180: var(--p--color--orange-600);
	--p--color--alt-b-130: var(--p--color--orange-200);
	--p--color--alt-b-030: var(--p--color--orange-50);

	--p--color--alt-b-430-a-020: hsla(36, 77%, 57%, 0.2);

	// Color Alternate C

	--p--color--alt-c-730: var(--p--color--red-1900);
	--p--color--alt-c-630: var(--p--color--red-1700);
	--p--color--alt-c-580: var(--p--color--red-1500);
	--p--color--alt-c-480: var(--p--color--red-main); /* Base */
	--p--color--alt-c-330: var(--p--color--red-900);
	--p--color--alt-c-230: var(--p--color--red-700);
	--p--color--alt-c-180: var(--p--color--red-600);
	--p--color--alt-c-080: var(--p--color--red-500);
	--p--color--alt-c-030: var(--p--color--red-300);

	--p--color--alt-c-480-a-020: hsla(355, 83%, 52%, 0.2);
	--p--color--alt-c-480-a-010: hsla(355, 83%, 52%, 0.1);

	// Color Alternate D
	--p--color--alt-d-780: hsl(46, 45%, 22%);
	--p--color--alt-d-680: hsl(46, 45%, 32%);
	--p--color--alt-d-230: hsl(46, 100%, 77%);
	--p--color--alt-d-080: hsl(46, 100%, 92%); // Base

	// Color Alternate E
	--p--color--alt-e-780: hsl(210, 47%, 22%);
	--p--color--alt-e-680: hsl(210, 57%, 32%);
	--p--color--alt-e-580: hsl(210, 67%, 42%);
	--p--color--alt-e-530: hsl(210, 67%, 47%);
	--p--color--alt-e-430: hsl(210, 67%, 57%); // Base
	--p--color--alt-e-180: hsl(210, 67%, 82%);
	--p--color--alt-e-080: hsl(210, 67%, 92%);

	// Color Alternate F
	--p--color--alt-f-560: hsl(147, 83%, 44%); // Base

	// Color Alternate G
	--p--color--alt-g-700: hsl(247, 10%, 30%); // Base

	--p--color--alt-g-700-a-075: hsla(247, 10%, 30%, 0.75);

	// Color Alternate H - Used for errors in dark mode
	--p--color--alt-h-310: hsl(355, 100%, 69%); // Base
}

:root {
	@include primitives;
}
