// Primitive Colors
// Primitive colors shouldn't be used directly in components an other UI elements.
// They can be only mapped to tokens.
// Tokens should be used instead in components an other UI elements

@mixin primitives {
	// Gray
	--h-gray: 220;

	--p-gray-820: hsl(var(--h-gray), 1%, 18%);
	--p-gray-800: hsl(var(--h-gray), 1%, 20%);
	--p-gray-780: hsl(var(--h-gray), 1%, 22%);
	--p-gray-740: hsl(var(--h-gray), 2%, 26%);
	--p-gray-710: hsl(var(--h-gray), 2%, 29%);
	--p-gray-670: hsl(var(--h-gray), 2%, 33%);
	--p-gray-540: hsl(var(--h-gray), 4%, 46%);
	--p-gray-490: hsl(var(--h-gray), 4%, 51%);
	--p-gray-420: hsl(var(--h-gray), 4%, 58%);
	--p-gray-320: hsl(var(--h-gray), 10%, 68%);
	--p-gray-200: hsl(var(--h-gray), 18%, 80%);
	--p-gray-120: hsl(var(--h-gray), 25%, 88%);
	--p-gray-070: hsl(var(--h-gray), 32%, 93%);
	--p-gray-040: hsl(var(--h-gray), 40%, 96%);
	--p-gray-030: hsl(var(--h-gray), 43%, 97%);
	--p-gray-025: hsl(var(--h-gray), 50%, 97.5%);
	--p-gray-010: hsl(var(--h-gray), 50%, 99%);
	--p-white: hsl(var(--h-gray), 50%, 100%);

	// Gray alpha
	--p-gray-320-a-010: hsla(var(--prim-gray-h), 10%, 68%, 0.1);
	--p-gray-70-a-010: hsla(var(--prim-gray-h), 32%, 93%, 0.1);

	// White alpha
	--p-white-a-075: hsla(var(--h-gray), 50%, 100%, 0.75);
	--p-white-a-030: hsla(var(--h-gray), 50%, 100%, 0.3);
	--p-white-a-025: hsla(var(--h-gray), 50%, 100%, 0.25);
	--p-white-a-010: hsla(var(--h-gray), 50%, 100%, 0.1);

	// Primary color
	--h-primary: 7;
	--s-primary: 100%;

	--p-color-primary-420: hsl(var(--h-primary), calc(var(--s-primary) - 15%), 58%); // sh 100
	--p-color-primary-320: hsl(var(--h-primary), var(--s-primary), 68%); // Base
	--p-color-primary-220: hsl(var(--h-primary), var(--s-primary), 78%); // tn 100
	--p-color-primary-120: hsl(var(--h-primary), var(--s-primary), 88%); // tn 200
	--p-color-primary-070: hsl(var(--h-primary), var(--s-primary), 93%); // tn 250
	--p-color-primary-050: hsl(var(--h-primary), var(--s-primary), 95%); // tn 270
	--p-color-primary-030: hsl(var(--h-primary), var(--s-primary), 98%); // tn 300

	// Primary color alpha
	--p-color-primary-320-a-010: hsla(var(--h-primary), var(--s-primary), 68%, 0.1);
	--p-color-primary-320-a-035: hsla(var(--h-primary), var(--s-primary), 68%, 0.35);
	--p-color-primary-320-a-050: hsla(var(--h-primary), var(--s-primary), 68%, 0.5);

	// Secondary color
	--h-secondary: 247;
	--s-secondary: 49%;

	--p-color-secondary-720: hsl(var(--h-secondary), calc(var(--s-secondary)- 25%), 28%); // sh 250
	--p-color-secondary-570: hsl(var(--h-secondary), var(--s-secondary), 43%); // sh 100
	--p-color-secondary-470: hsl(var(--h-secondary), var(--s-secondary), 53%); // Base
	--p-color-secondary-370: hsl(var(--h-secondary), var(--s-secondary), 63%); // tn 100
	--p-color-secondary-270: hsl(var(--h-secondary), var(--s-secondary), 73%); // tn 200
	--p-color-secondary-170: hsl(var(--h-secondary), var(--s-secondary), 83%); // tn 300
	--p-color-secondary-070: hsl(var(--h-secondary), var(--s-secondary), 93%); // tn 400

	// Secondary color alpha
	--p-color-secondary-370-a-010: hsla(var(--h-secondary), var(--s-secondary), 53%, 0.1);
	--p-color-secondary-370-a-025: hsla(var(--h-secondary), var(--s-secondary), 53%, 0.25);

	// Color Alternate A
	--h-color-alt-a: 150;
	--s-color-alt-a: 60%;

	--p-color-alt-a-800: hsl(var(--h-color-alt-a), calc(var(--s-color-alt-a)- 15%), 20%); // sh 200
	--p-color-alt-a-700: hsl(var(--h-color-alt-a), calc(var(--s-color-alt-a)- 15%), 30%); // sh 100
	--p-color-alt-a-600: hsl(var(--h-color-alt-a), var(--s-color-alt-a), 40%); // Base
	--p-color-alt-a-300: hsl(var(--h-color-alt-a), var(--s-color-alt-a), 70%); // tn 300
	--p-color-alt-a-200: hsl(var(--h-color-alt-a), var(--s-color-alt-a), 80%); // tn 400
	--p-color-alt-a-100: hsl(var(--h-color-alt-a), var(--s-color-alt-a), 90%); // tn 500
	--p-color-alt-a-150: hsl(var(--h-color-alt-a), var(--s-color-alt-a), 95%); // tn 550

	// Color Alternate A alpha
	--p-color-alt-a-600-a-015: hsla(var(--h-color-alt-a), var(--s-color-alt-a), 40%, 0.15);
	--p-color-alt-a-600-a-025: hsla(var(--h-color-alt-a), var(--s-color-alt-a), 40%, 0.25);

	// Color Alternate B
	--h-color-alt-b: 36;
	--s-color-alt-b: 77%;

	--p-color-alt-b-780: hsl(var(--h-color-alt-b), calc(var(--s-color-alt-b) - 35%), 22%); // sh 350
	--p-color-alt-b-680: hsl(var(--h-color-alt-b), calc(var(--s-color-alt-b) - 35%), 32%); // sh 250
	--p-color-alt-b-530: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 47%); // sh 100
	--p-color-alt-b-430: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 57%); // Base
	--p-color-alt-b-280: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 72%); // tn 150
	--p-color-alt-b-180: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 82%); // tn 250
	--p-color-alt-b-130: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 87%); // tn 300
	--p-color-alt-b-030: hsl(var(--h-color-alt-b), var(--s-color-alt-b), 97%); // tn 400

	// Color Alternate B alpha
	--p-color-alt-b-430-a-020: hsla(var(--h-color-alt-b), var(--s-color-alt-b), 57%, 0.2);

	// Color Alternate C
	--h-color-alt-c: 355;
	--s-color-alt-c: 83%;

	--p-color-alt-c-730: hsl(var(--h-color-alt-c), calc(var(--s-color-alt-c) - 40%), 27%); // sh 250
	--p-color-alt-c-630: hsl(var(--h-color-alt-c), calc(var(--s-color-alt-c) - 40%), 37%); // sh 150
	--p-color-alt-c-580: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 42%); // sh 100
	--p-color-alt-c-480: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 52%); // Base
	--p-color-alt-c-330: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 67%); // tn 150
	--p-color-alt-c-230: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 77%); // tn 250
	--p-color-alt-c-180: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 82%); // tn 300
	--p-color-alt-c-080: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 92%); // tn 400
	--p-color-alt-c-030: hsl(var(--h-color-alt-c), var(--s-color-alt-c), 97%); // tn 450

	// Color Alternate C alpha
	--p-color-alt-c-480-a-020: hsla(var(--h-color-alt-c), var(--s-color-alt-c), 52%, 0.2);

	// Color Alternate D
	--h-color-alt-d: 46;
	--s-color-alt-d: 100%;

	--p-color-alt-d-780: hsl(var(--h-color-alt-d), calc(var(--s-color-alt-d) - 55%), 22%); // sh 700
	--p-color-alt-d-680: hsl(var(--h-color-alt-d), calc(var(--s-color-alt-d) - 55%), 32%); // sh 600
	--p-color-alt-d-230: hsl(var(--h-color-alt-d), var(--s-color-alt-d), 77%); // sh 150
	--p-color-alt-d-080: hsl(var(--h-color-alt-d), var(--s-color-alt-d), 92%); // Base

	// Color Alternate E
	--h-color-alt-e: 210;
	--s-color-alt-e: 67%;

	--p-color-alt-e-780: hsl(var(--h-color-alt-e), calc(var(--s-color-alt-e) - 20%), 22%); // sh350
	--p-color-alt-e-680: hsl(var(--h-color-alt-e), calc(var(--s-color-alt-e) - 20%), 32%); // sh250
	--p-color-alt-e-580: hsl(var(--h-color-alt-e), var(--s-color-alt-e), 42%); // sh 150
	--p-color-alt-e-530: hsl(var(--h-color-alt-e), var(--s-color-alt-e), 47%); // sh 100
	--p-color-alt-e-430: hsl(var(--h-color-alt-e), var(--s-color-alt-e), 57%); // Base
	--p-color-alt-e-180: hsl(var(--h-color-alt-e), var(--s-color-alt-e), 82%); // tn 250
	--p-color-alt-e-080: hsl(var(--h-color-alt-e), var(--s-color-alt-e), 92%); // tn 350

	// Color Alternate F
	--h-color-alt-f: 147;
	--s-color-alt-f: 83%;

	--p-color-alt-f-560: hsl(var(--h-color-alt-f), var(--s-color-alt-f), 44%); // Base

	// Color Alternate G
	--h-color-alt-g: 247;
	--s-color-alt-g: 10%;

	--p-color-alt-g-700: hsl(var(--h-color-alt-g), var(--s-color-alt-g), 30%); // Base

	// Color Alternate G alpha
	--p-color-alt-g-700-a-075: hsla(var(--h-color-alt-g), var(--s-color-alt-g), 30%, 0.75);

	// Color Alternate H - Used for errors in dark mode
	--h-color-alt-h: 355;
	--s-color-alt-h: 100%;

	--p-color-alt-h-310: hsl(var(--h-color-alt-h), var(--s-color-alt-h), 69%); // Base

	// Experiments

	// Primary color (oklch)
	/* --c-oklch-primary: 0.1819;
	--h-oklch-primary: 29.74;

	--p-color-primary-oklch-1000: oklch(0 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-900: oklch(0.1 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-800: oklch(0.2 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-700: oklch(0.3 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-600: oklch(0.4 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-500: oklch(0.5 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-400: oklch(0.6 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-300: oklch(0.7 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-290: oklch(0.7114 var(--c-oklch-primary) var(--h-oklch-primary)); // Base
	--p-color-primary-oklch-200: oklch(0.8 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-100: oklch(0.9 var(--c-oklch-primary) var(--h-oklch-primary));
	--p-color-primary-oklch-0: oklch(1 var(--c-oklch-primary) var(--h-oklch-primary));
	*/
}

:root {
	@include primitives;
}
