@use 'sass:math';

@mixin theme {
	--color--primary--h: var(--p--color--primary--h);
	--color--primary--s: var(--p--color--primary--s);
	--color--primary--l: var(--p--color--primary--l);

	// Primary tokens

	// Primary
	--color--primary--shade-1: var(--p--color--primary-420);
	--color--primary: var(--p--color--primary-320);
	--color--primary--tint-1: var(--p--color--primary-120);
	--color--primary--tint-2: var(--p--color--primary-070);
	--color--primary--tint-3: var(--p--color--primary-030);

	// Secondary
	--color--secondary--shade-1: var(--p--color--secondary-570);
	--color--secondary: var(--p--color--secondary-470);
	--color--secondary--tint-1: var(--p--color--secondary-170);
	--color--secondary--tint-2: var(--p--color--secondary-070);

	// Success
	--color--success--shade-1: var(--p--color--alt-a-700);
	--color--success: var(--p--color--alt-a-600);
	--color--success--tint-1: var(--p--color--alt-a-300);
	--color--success--tint-2: var(--p--color--alt-a-200);
	--color--success--tint-3: var(--p--color--alt-a-100);
	--color--success--tint-4: var(--p--color--alt-a-050);

	// Warning
	--color--warning--shade-1: var(--p--color--alt-b-530);
	--color--warning: var(--p--color--alt-b-430);
	--color--warning--tint-1: var(--p--color--alt-b-180);
	--color--warning--tint-2: var(--p--color--alt-b-030);

	// Danger
	--color--danger--shade-1: var(--p--color--alt-c-580);
	--color--danger: var(--p--color--alt-c-480);
	--color--danger--tint-1: var(--p--color--alt-c-330);
	--color--danger--tint-2: var(--p--color--alt-c-230);
	--color--danger--tint-3: var(--p--color--alt-c-080);
	--color--danger--tint-4: var(--p--color--alt-c-030);

	// Text
	--color--text--shade-1: var(--p--color--gray-740);
	--color--text: var(--p--color--gray-540);
	--color--text--tint-1: var(--p--color--gray-420);
	--color--text--tint-2: var(--p--color--gray-120);
	--color--text--tint-3: var(--p--color--white);
	--color--text--danger: var(--p--color--alt-c-480);

	// Foreground
	--color--foreground--shade-2: var(--p--color--gray-490);
	--color--foreground--shade-1: var(--p--color--gray-200);
	--color--foreground: var(--p--color--gray-120);
	--color--foreground--tint-1: var(--p--color--gray-070);
	--color--foreground--tint-2: var(--p--color--white);

	// Background
	--color--background--shade-2: var(--p--color--gray-820);
	--color--background--shade-1: var(--p--color--gray-120);
	--color--background: var(--p--color--gray-040);
	--color--background--light-1: var(--p--color--gray-025);
	--color--background--light-2: var(--p--color--gray-010);
	--color--background--light-3: var(--p--color--white);

	--shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	--shadow--dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
	--shadow--light: 0 2px 12px 0 rgba(0, 0, 0, 0.07);

	--radius--xl: 12px;
	--radius--lg: 8px;
	--radius: 4px;
	--radius--sm: 2px;
	--border-color: var(--color--foreground);
	--border-color--light: var(--color--foreground--tint-1);

	--border-style: solid;
	--border-width: 1px;
	--border: var(--border-width) var(--border-style) var(--color--foreground);

	--font-size--4xs: 0.5rem;
	--font-size--3xs: 0.625rem;
	--font-size--2xs: 0.75rem;
	--font-size--xs: 0.8125rem;
	--font-size--sm: 0.875rem;
	--font-size--md: 1rem;
	--font-size--lg: 1.125rem;
	--font-size--xl: 1.25rem;
	--font-size--2xl: 1.75rem;

	--line-height--xs: 1;
	--line-height--sm: 1.25;
	--line-height--md: 1.3;
	--line-height--lg: 1.35;
	--line-height--xl: 1.5;

	--font-weight--regular: 400;
	--font-weight--medium: 500;
	--font-weight--bold: 600;
	--font-family: InterVariable, sans-serif;
	--font-family--monospace:
		CommitMono, ui-monospace, Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--spacing--5xs: 0.125rem;
	--spacing--4xs: 0.25rem;
	--spacing--3xs: 0.375rem;
	--spacing--2xs: 0.5rem;
	--spacing--xs: 0.75rem;
	--spacing--sm: 1rem;
	--spacing--md: 1.25rem;
	--spacing--lg: 1.5rem;
	--spacing--xl: 2rem;
	--spacing--2xl: 3rem;
	--spacing--3xl: 4rem;
	--spacing--4xl: 8rem;
	--spacing--5xl: 16rem;

	// Secondary tokens

	// LangChain
	--lm-chat--messages--color--background: var(--color--background);
	--lm-chat--bot--color--background: var(--p--color--white);
	--lm-chat--user--color--background: var(--p--color--alt-a-600);
	--lm-chat--user--color: var(--color--text--tint-3);

	// Canvas
	--canvas--color--background: var(--p--color--gray-010);
	--canvas--color--background--h: var(--p--color--gray); // Used for connectors labels background
	--canvas--color--background--s: 47%;
	--canvas--color--background--l: 99%;
	--canvas--dot--color: var(--p--color--gray-120);
	--canvas--read-only-line--color: var(--p--color--gray-030);
	--canvas--color--selected: var(--p--color--gray-070);
	--canvas--color--selected-transparent: hsla(var(--p--color--gray), 47%, 30%, 0.1);
	--canvas--label--color--background: hsla(
		var(--canvas--color--background--h),
		var(--canvas--color--background--s),
		var(--canvas--color--background--l),
		0.85
	);

	// Nodes
	--node--color--background: var(--color--background--light-3);
	--node--color--background--executing: var(--color--primary--tint-3);
	--node--color--background--executing-1: var(--color--primary--tint-3);
	--node--border-color--pinned: var(--color--secondary);
	--node--border-color--running: var(--color--primary);
	--node--type-main--color: var(--p--color--gray-490);

	// Sticky
	--sticky--color--background: var(--p--color--alt-d-080);
	--sticky--border-color: var(--p--color--alt-d-230);
	--sticky--color--text: var(--p--color--gray-740);
	--sticky--code--color--text: var(--color--secondary);
	--sticky--code--color--background: var(--color--background);

	--sticky--color--background--variant-1: var(--sticky--color--background);
	--sticky--border-color--variant-1: var(--sticky--border-color);
	--sticky--color--background--variant-2: var(--p--color--alt-b-130);
	--sticky--border-color--variant-2: var(--p--color--alt-b-280);
	--sticky--color--background--variant-3: var(--p--color--alt-c-080);
	--sticky--border-color--variant-3: var(--p--color--alt-c-180);
	--sticky--color--background--variant-4: var(--p--color--alt-a-100);
	--sticky--border-color--variant-4: var(--p--color--alt-a-300);
	--sticky--color--background--variant-5: var(--p--color--alt-e-080);
	--sticky--border-color--variant-5: var(--p--color--alt-e-180);
	--sticky--color--background--variant-6: var(--p--color--secondary-070);
	--sticky--border-color--variant-6: var(--p--color--secondary-170);
	--sticky--color--background--variant-7: var(--p--color--gray-010);
	--sticky--border-color--variant-7: var(--p--color--gray-120);

	// AI Assistant
	--assistant--button--color--background--gradient: linear-gradient(
		var(--color--background--light-3),
		var(--color--background--light-3)
	);
	--assistant--button--color--background--gradient--hover: linear-gradient(
		var(--color--background--light-3),
		var(--color--background--light-3)
	);
	--assistant--button--color--background--gradient--active: linear-gradient(
		var(--color--background--light-3),
		var(--color--background--light-3)
	);

	--assistant--color--highlight-1: #5b60e8;
	--assistant--color--highlight-2: #aa7bec;
	--assistant--color--highlight-3: #ec7b8e;
	--assistant--color--highlight-gradient: linear-gradient(
		105deg,
		var(--assistant--color--highlight-1) 0%,
		var(--assistant--color--highlight-2) 50%,
		var(--assistant--color--highlight-3) 100%
	);
	--assistant--color--highlight-gradient--reverse: linear-gradient(
		105deg,
		var(--assistant--color--highlight-3) 0%,
		var(--assistant--color--highlight-2) 50%,
		var(--assistant--color--highlight-1) 100%
	);
	--assistant--button--color--background--hover: linear-gradient(
		108.82deg,
		rgba(236, 123, 142, 0.12) 0%,
		rgba(170, 123, 236, 0.12) 50.5%,
		rgba(91, 96, 232, 0.12) 100%
	);
	--assistant--button--color--background--active: linear-gradient(
		108.82deg,
		rgba(236, 123, 142, 0.25) 0%,
		rgba(170, 123, 236, 0.25) 50.5%,
		rgba(91, 96, 232, 0.25) 100%
	);

	// NodeIcon
	--node--icon--color--gray: var(--p--color--gray-420);
	--node--icon--color--black: var(--p--color--gray-780);
	--node--icon--color--blue: #3a42e9;
	--node--icon--color--light-blue: #5fabf7;
	--node--icon--color--dark-blue: #353f6e;
	--node--icon--color--orange: #ff965a;
	--node--icon--color--orange-red: #ff6d5a;
	--node--icon--color--pink-red: #ea4b71;
	--node--icon--color--red: var(--p--color--alt-c-480);
	--node--icon--color--light-green: #31c4ab;
	--node--icon--color--green: #108e49;
	--node--icon--color--dark-green: #157562;
	--node--icon--color--azure: #54b8c9;
	--node--icon--color--purple: #539;
	--node--icon--color--crimson: #724;

	// Expressions, autocomplete, infobox
	--expression-editor--resolvable--color--foreground--valid: var(--p--color--alt-a-600);
	--expression-editor--resolvable--color--background--valid: var(--p--color--alt-a-100);
	--expression-editor--resolvable--color--foreground--invalid: var(--p--color--alt-c-480);
	--expression-editor--resolvable--color--background--invalid: var(--p--color--alt-c-030);
	--expression-editor--resolvable--color--foreground--pending: var(--color--text);
	--expression-editor--resolvable--color--background--pending: var(--p--color--gray-040);
	--expression-editor--color--background: var(--p--color--white);
	--expression-editor--modal--color--background: var(--color--background);
	--expression-editor--syntax-example--color: var(--p--color--gray-040);
	--autocomplete--item--color--selected: var(--color--secondary);
	--autocomplete--section-header--border-color: var(--color--foreground--tint-1);
	--autocomplete--infobox--color--background: var(--color--background--light-1);
	--autocomplete--infobox--examples--border-color: var(--color--foreground--tint-1);

	// Code
	--code-tags--string--color: #032f62;
	--code-tags--regex--color: #032f62;
	--code-tags--primitive--color: #005cc5;
	--code-tags--keyword--color: #d73a49;
	--code-tags--variable--color: #005cc5;
	--code-tags--parameter--color: #24292e;
	--code-tags--function--color: #6f42c1;
	--code-tags--constant--color: #005cc5;
	--code-tags--property--color: #005cc5;
	--code-tags--type--color: #005cc5;
	--code-tags--class--color: #6f42c1;
	--code-tags--heading--color: #005cc5;
	--code-tags--invalid--color: #cb2431;
	--code-tags--comment--color: #6a737d;
	--json--color: var(--p--color--secondary-570);
	--json--null--color: var(--p--color--alt-c-480);
	--json--boolean--color: var(--p--color--alt-a-600);
	--json--number--color: var(--p--color--alt-a-600);
	--json--string--color: var(--p--color--secondary-570);
	--json--key--color: var(--p--color--gray-670);
	--json--brackets--color: var(--p--color--gray-670);
	--json--brackets--color--hover: var(--p--color--alt-e-430);
	--json--line--color: var(--p--color--gray-200);
	--json--highlight--color: var(--color--background);
	--code--color--background: var(--p--color--white);
	--code--color--background--readonly: var(--p--color--gray-040);
	--code--line-highlight--color: var(--p--color--gray-320-a-010);
	--code--color--foreground: var(--p--color--gray-670);
	--code--caret--color: var(--p--color--gray-820);
	--code--selection--color: #0366d625;
	--code--selection--color--highlight: #34d05840;
	--code--gutter--color--background: var(--p--color--white);
	--code--gutter--color--foreground: var(--p--color--gray-320);
	--code--gutter--color--foreground--active: var(--p--color--gray-670);
	--code--indentation-marker--color: var(--p--color--gray-070);
	--code--indentation-marker--color--active: var(--p--color--gray-200);
	--line-break--color: var(--p--color--gray-320);
	--code--line-break--color: var(--p--color--secondary-270);

	// Tag
	--tag--height: 20px;
	--tag--padding: 0 var(--spacing--4xs);
	--tag--color--background: var(--p--color--gray-040);
	--tag--color--background--hover: var(--p--color--gray-070);
	--tag--border-color: var(--p--color--gray-070);
	--tag--border-color--hover: var(--p--color--gray-120);
	--tag--radius: var(--radius);
	--tag--color--text: var(--color--text);
	--tag--font-size: var(--font-size--2xs);
	--tag--font-weight: var(--font-weight--regular);
	--tag--line-height: 0;

	// Variables
	--variables-usage--color--text: var(--color--success);
	--variables-usage--syntax--color--background: var(--color--success--tint-4);

	// Button primary
	--button--color--text--primary: var(--p--color--white);
	--button--border-color--primary: var(--p--color--primary-320);
	--button--color--background--primary: var(--p--color--primary-320);
	--button--border-color--primary--hover-active: var(--p--color--primary-420);
	--button--color--background--primary--hover-active-focus: var(--p--color--primary-420);
	--button--outline-color--primary--focus: var(--p--color--primary-320-a-035);
	--button--color--text--primary--disabled: var(--p--color--white-a-075);
	--button--border-color--primary--disabled: var(--p--color--primary-120);
	--button--color--background--primary--disabled: var(--p--color--primary-120);

	// Button secondary
	--button--color--text--secondary: var(--p--color--gray-670);
	--button--border-color--secondary: var(--p--color--gray-320);
	--button--color--background--secondary: var(--p--color--white);
	--button--color--text--secondary--hover-active-focus: var(--p--color--primary-420);
	--button--border-color--secondary--hover-active-focus: var(--p--color--primary-320);
	--button--color--background--secondary--hover: var(--p--color--primary-030);
	--button--color--background--secondary--active-focus: var(--p--color--primary-050);
	--button--outline-color--secondary--focus: var(--p--color--gray-120);
	--button--color--text--secondary--disabled: var(--p--color--gray-200);
	--button--border-color--secondary--disabled: var(--p--color--gray-200);

	// Button highlight
	--button--color--text--highlight: var(--p--color--gray-670);
	--button--border-color--highlight: transparent;
	--button--color--background--highlight: transparent;
	--button--color--text--highlight--hover-active-focus: var(--p--color--primary-420);
	--button--border-color--highlight--hover-active-focus: var(--p--color--gray-040);
	--button--color--background--highlight--hover: var(--p--color--gray-040);
	--button--color--background--highlight--active-focus: var(--p--color--gray-040);
	--button--outline-color--highlight--focus: var(--p--color--gray-040);
	--button--color--text--highlight--disabled: var(--p--color--gray-120);
	--button--border-color--highlight--disabled: transparent;
	--button--color--background--highlight--disabled: transparent;

	// Button success, warning, danger
	--button--color--text--success: var(--p--color--white);
	--button--color--text--success--disabled: var(--p--color--white-a-075);
	--button--color--text--warning: var(--color--text--tint-3);
	--button--color--text--warning--disabled: var(--p--color--white-a-075);
	--button--color--text--danger: var(--color--text--tint-3);
	--button--border-color--danger: var(--color--danger);
	--button--outline-color--danger--focus: var(--color--danger--tint-3);
	--button--color--text--danger--disabled: var(--p--color--white-a-075);
	--button--border-color--danger--disabled: var(--color--danger--tint-3);
	--button--color--background--danger--disabled: var(--color--danger--tint-3);

	// Text button
	--text-button--color--text--secondary: var(--p--color--gray-670);

	// Node Creator Button
	--node-creator--button--color--text: var(--p--color--gray-540);
	--node-creator--button--color--text--hover: var(--p--color--primary-320);
	--node-creator--button--border-color--hover: var(--p--color--primary-320);
	--node-creator--button--color--background: var(--p--color--white);

	// Table
	--table--header--color--background: var(--color--background);
	--table--row--color--background: var(--color--background--light-3);
	--table--row--color--background--even: var(--color--background--light-2);
	--table--row--color--background--hover: var(--color--primary--tint-3);
	--table--row--color--background--highlight: var(--color--warning--tint-1);

	// Notification
	--notification--color--background: var(--color--background--light-3);

	// Execution
	--execution-card--border-color--new: var(--p--color--gray-200);
	--execution-card--border-color--success: var(--p--color--alt-a-300);
	--execution-card--border-color--error: var(--p--color--alt-c-230);
	--execution-card--border-color--waiting: var(--p--color--secondary-170);
	--execution-card--border-color--running: var(--p--color--alt-b-180);
	--execution-card--border-color--unknown: var(--p--color--gray-120);
	--execution-card--color--background: var(--color--foreground--tint-2);
	--execution-card--color--background--hover: var(--color--foreground--tint-1);
	--execution-card--color--text--waiting: var(--color--secondary);
	--execution-selector--color--background: var(--color--background--shade-2);
	--execution-selector--color--text: var(--color--text--tint-3);
	--execution-select-all--color--text: var(--color--danger);

	// NDV
	--run-data--color--background: var(--p--color--gray-070);
	--ndvv2--run-data--color--background: var(--p--color--gray-040);
	--ndv--droppable-parameter--color: var(--color--secondary);
	--ndv--droppable-parameter--color--background: var(--p--color--secondary-470-a-010);
	--ndv--droppable-parameter--color--background--active: var(--p--color--alt-a-600-a-015);
	--ndv--back--color--text: var(--p--color--white);

	// Notice
	--notice--border-color--warning: var(--color--warning--tint-1);
	--notice--color--background--warning: var(--color--warning--tint-2);
	--notice--color--text: var(--color--text);

	// Callout
	--callout--border-color--info: var(--color--foreground);
	--callout--color--background--info: var(--color--foreground--tint-2);
	--callout--color--text--info: var(--color--text);
	--callout--icon-color--info: var(--color--text--tint-1);
	--callout--border-color--success: var(--color--success--tint-2);
	--callout--color--background--success: var(--color--success--tint-4);
	--callout--color--text--success: var(--color--success);
	--callout--icon-color--success: var(--color--success);
	--callout--border-color--warning: var(--color--warning--tint-1);
	--callout--color--background--warning: var(--color--warning--tint-2);
	--callout--color--text--warning: var(--color--warning);
	--callout--icon-color--warning: var(--color--warning);
	--callout--border-color--danger: var(--color--danger--tint-3);
	--callout--color--background--danger: var(--color--danger--tint-4);
	--callout--color--text--danger: var(--color--danger);
	--callout--icon-color--danger: var(--color--danger);
	--callout--border-color--secondary: var(--color--secondary--tint-1);
	--callout--color--background--secondary: var(--color--secondary--tint-2);
	--callout--color--text--secondary: var(--color--secondary);
	--callout--icon-color--secondary: var(--color--secondary);

	// Dialogs and overlays
	--dialog--color--background: var(--p--color--white);
	--dialog--overlay--color--background: var(--p--color--white-a-075);
	--dialog--overlay--color--background--dark: var(--p--color--alt-g-700-a-075);
	--block-ui--overlay--color: var(--p--color--gray-820);

	// Avatar
	--avatar--color--text: var(--color--text--tint-3);

	// NPS Survey
	--nps-survey--color--background: var(--p--color--gray-740);
	--nps-survey--color--text: var(--p--color--white);

	// Action Dropdown
	--action-dropdown--item--color--background--active: var(--color--background);

	// Switch (Activation, boolean)
	--switch--color--background: var(--p--color--gray-420);
	--switch--color--background--active: var(--p--color--alt-f-560);
	--switch--border-color: transparent;
	--switch--toggle--color: var(--p--color--white);

	// Feature Request
	--feature-request--color--text: var(--p--color--white);

	// Input Triple
	--input-triple--color--background: var(--color--background--light-2);

	// Node error
	--node--error-output--color--text: var(--color--danger);

	// MFA Recovery codes
	--mfa--recovery-code--color--background: var(--color--background);
	--mfa--recovery-code--color: var(--p--color--gray-490);
	--mfa--lose-access--color--text: var(--color--danger);

	// Text highlight
	--text-highlight--color--background: var(--p--color--alt-d-230);

	// MFA Modal
	--qr-code--border-color: var(--p--color--gray-010);

	// AI
	--node-type--color--background--l: 95%;
	--node-type--supplemental--label--color--h: 235;
	--node-type--supplemental--label--color--s: 28%;
	--node-type--supplemental--label--color--l: 40%;
	--node-type--supplemental--color--h: 235;
	--node-type--supplemental--color--s: 28%;
	--node-type--supplemental--color--l: 60%;
	--node-type--supplemental--label--color: hsl(
		var(--node-type--supplemental--label--color--h),
		var(--node-type--supplemental--label--color--s),
		var(--node-type--supplemental--label--color--l)
	);
	--node-type--supplemental--icon--color: var(--color--foreground--shade-1);
	--node-type--supplemental--color: hsl(
		var(--node-type--supplemental--color--h),
		var(--node-type--supplemental--color--s),
		var(--node-type--supplemental--color--l)
	);
	--node-type--supplemental--color--background: hsl(
		var(--node-type--supplemental--color--h),
		var(--node-type--supplemental--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--supplemental--connector--color: var(--color--foreground--shade-1);
	--node-type--ai-chain--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-chain--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-chain--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-chain--color: hsl(
		var(--node-type--ai-chain--color--h),
		var(--node-type--ai-chain--color--s),
		var(--node-type--ai-chain--color--l)
	);
	--node-type--chain--color--background: hsl(
		var(--node-type--ai-chain--color--h),
		var(--node-type--ai-chain--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-document--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-document--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-document--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-document--color: hsl(
		var(--node-type--ai-document--color--h),
		var(--node-type--ai-document--color--s),
		var(--node-type--ai-document--color--l)
	);
	--node-type--ai-document--color--background: hsl(
		var(--node-type--ai-document--color--h),
		var(--node-type--ai-document--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-embedding--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-embedding--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-embedding--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-embedding--color: hsl(
		var(--node-type--ai-embedding--color--h),
		var(--node-type--ai-embedding--color--s),
		var(--node-type--ai-embedding--color--l)
	);
	--node-type--ai-embedding--color--background: hsl(
		var(--node-type--ai-embedding--color--h),
		var(--node-type--ai-embedding--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-language-model--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-language-model--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-language-model--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-language-model--color: hsl(
		var(--node-type--ai-language-model--color--h),
		var(--node-type--ai-language-model--color--s),
		var(--node-type--ai-language-model--color--l)
	);
	--node-type--ai-language-model--color--background: hsl(
		var(--node-type--ai-language-model--color--h),
		var(--node-type--ai-language-model--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-memory--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-memory--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-memory--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-memory--color: hsl(
		var(--node-type--ai-memory--color--h),
		var(--node-type--ai-memory--color--s),
		var(--node-type--ai-memory--color--l)
	);
	--node-type--ai-memory--color--background: hsl(
		var(--node-type--ai-memory--color--h),
		var(--node-type--ai-memory--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-output-parser--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-output-parser--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-output-parser--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-output-parser--color: hsl(
		var(--node-type--ai-output-parser--color--h),
		var(--node-type--ai-output-parser--color--s),
		var(--node-type--ai-output-parser--color--l)
	);
	--node-type--ai-output-parser--color--background: hsl(
		var(--node-type--ai-output-parser--color--h),
		var(--node-type--ai-output-parser--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-tool--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-tool--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-tool--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-tool--color: hsl(
		var(--node-type--ai-tool--color--h),
		var(--node-type--ai-tool--color--s),
		var(--node-type--ai-tool--color--l)
	);
	--node-type--ai-tool--color--background: hsl(
		var(--node-type--ai-tool--color--h),
		var(--node-type--ai-tool--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-retriever--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-retriever--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-retriever--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-retriever--color: hsl(
		var(--node-type--ai-retriever--color--h),
		var(--node-type--ai-retriever--color--s),
		var(--node-type--ai-retriever--color--l)
	);
	--node-type--ai-retriever--color--background: hsl(
		var(--node-type--ai-retriever--color--h),
		var(--node-type--ai-retriever--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-text-splitter--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-text-splitter--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-text-splitter--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-text-splitter--color: hsl(
		var(--node-type--ai-text-splitter--color--h),
		var(--node-type--ai-text-splitter--color--s),
		var(--node-type--ai-text-splitter--color--l)
	);
	--node-type--ai-text-splitter--color--background: hsl(
		var(--node-type--ai-text-splitter--color--h),
		var(--node-type--ai-text-splitter--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-vector-retriever--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-vector-retriever--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-vector-retriever--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-vector-retriever--color: hsl(
		var(--node-type--ai-vector-retriever--color--h),
		var(--node-type--ai-vector-retriever--color--s),
		var(--node-type--ai-vector-retriever--color--l)
	);
	--node-type--ai-vector-retriever--color--background: hsl(
		var(--node-type--ai-vector-retriever--color--h),
		var(--node-type--ai-vector-retriever--color--s),
		var(--node-type--color--background--l)
	);
	--node-type--ai-vector-store--color--h: var(--node-type--supplemental--color--h);
	--node-type--ai-vector-store--color--s: var(--node-type--supplemental--color--s);
	--node-type--ai-vector-store--color--l: var(--node-type--supplemental--color--l);
	--node-type--ai-vector-store--color: hsl(
		var(--node-type--ai-vector-store--color--h),
		var(--node-type--ai-vector-store--color--s),
		var(--node-type--ai-vector-store--color--l)
	);
	--node-type--ai-vector-store--color--background: hsl(
		var(--node-type--ai-vector-store--color--h),
		var(--node-type--ai-vector-store--color--s),
		var(--node-type--color--background--l)
	);

	// Diff colors
	--diff--color--new: #0eab54;
	--diff--color--new--light: #b4efc4;
	--diff--color--new--faint: #ddfbe7;
	--diff--color--modified: #bf941f;
	--diff--color--modified--light: #f3dca1;
	--diff--color--modified--faint: #fbf1d4;
	--diff--color--deleted: #f51f32;
	--diff--color--deleted--light: #fad3d0;
	--diff--color--deleted--faint: #ffedec;

	// Various
	--avatar--color--accent-1: var(--p--color--gray-120);
	--avatar--color--accent-2: var(--p--color--alt-e-530);
	--color--info: var(--p--color--gray-420);
	--color--info--tint-1: var(--p--color--gray-120);
	--color--info--tint-2: var(--p--color--gray-040);
	--color--gray: var(--p--color--gray-200);
	--color--gray--light: var(--p--color--gray-120);
	--node--configurable-name--color: var(--color--text--shade-1);
	--link--color--secondary: var(--color--secondary);
	--link--color--secondary--hover: var(--color--secondary--shade-1);

	// Menu
	--menu--color--background: var(--p--color--white);
	--menu--color--background--hover: var(--p--color--gray-120);
	--menu--color--background--active: var(--p--color--gray-120);

	// Params
	--icon--color: var(--color--text--tint-1);
	--icon--color--hover: var(--p--color--primary-320);

	/* Ag Grid */
	--grid--row--color--background--selected: var(--p--color--secondary-070);
	--grid--cell--border-color--editing: 2px solid var(--color--secondary);
}

:root {
	@include theme;
}
