/**
	Deprecated tokens as we migrate towards new --[group]--[group]--... css variables
	Keeping temporarily until naming is enforced across the app
	To minimize bugs related to ongoing work
**/
@mixin deprecatedTheme {
	--color-primary-h: var(--p--color--primary-h);
	--color-primary-s: var(--p--color--primary-s);
	--color-primary-l: var(--p--color--primary-l);

	// Primary tokens

	// Primary
	--color-primary-shade-1: var(--p--color--primary-420);
	--color-primary: var(--p--color--primary-320);
	--color-primary-tint-1: var(--p--color--primary-120);
	--color-primary-tint-2: var(--p--color--primary-070);
	--color-primary-tint-3: var(--p--color--primary-030);

	// Secondary
	--color-secondary-shade-1: var(--p--color--secondary-570);
	--color-secondary: var(--p--color--secondary-470);
	--color-secondary-tint-1: var(--p--color--secondary-170);
	--color-secondary-tint-3: var(--p--color--secondary-070);

	// Success
	--color-success-shade-1: var(--p--color--alt-a-700);
	--color-success: var(--p--color--alt-a-600);
	--color-success-light: var(--p--color--alt-a-300);
	--color-success-light-2: var(--p--color--alt-a-200);
	--color-success-tint-1: var(--p--color--alt-a-100);
	--color-success-tint-2: var(--p--color--alt-a-050);

	// Warning
	--color-warning-shade-1: var(--p--color--alt-b-530);
	--color-warning: var(--p--color--alt-b-430);
	--color-warning-tint-1: var(--p--color--alt-b-180);
	--color-warning-tint-2: var(--p--color--alt-b-030);

	// Danger
	--color-danger-shade-1: var(--p--color--alt-c-580);
	--color-danger: var(--p--color--alt-c-480);
	--color-danger-light: var(--p--color--alt-c-330);
	--color-danger-light-2: var(--p--color--alt-c-230);
	--color-danger-tint-1: var(--p--color--alt-c-080);
	--color-danger-tint-2: var(--p--color--alt-c-030);

	// Text
	--color-text-dark: var(--p--color--gray-740);
	--color-text-base: var(--p--color--gray-540);
	--color-text-light: var(--p--color--gray-420);
	--color-text-lighter: var(--p--color--gray-120);
	--color-text-xlight: var(--p--color--white);
	--color-text-danger: var(--p--color--alt-c-480);

	// Foreground
	--color-foreground-xdark: var(--p--color--gray-490);
	--color-foreground-dark: var(--p--color--gray-200);
	--color-foreground-base: var(--p--color--gray-120);
	--color-foreground-light: var(--p--color--gray-070);
	--color-foreground-xlight: var(--p--color--white);

	// Background
	--color-background-dark: var(--p--color--gray-820);
	--color-background-medium: var(--p--color--gray-120);
	--color-background-base: var(--p--color--gray-040);
	--color-background-light-base: var(--p--color--gray-025);
	--color-background-light: var(--p--color--gray-010);
	--color-background-xlight: var(--p--color--white);

	--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.12);
	--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.07);

	--border-radius-xlarge: 12px;
	--border-radius-large: 8px;
	--border-radius-base: 4px;
	--border-radius-small: 2px;
	--border-color-base: var(--color--foreground);
	--border-color-light: var(--color--foreground--tint-1);

	--border-style-base: solid;
	--border-width-base: 1px;
	--border-base: var(--border-width-base) var(--border-style-base) var(--color--foreground);

	--font-size-4xs: 0.5rem;
	--font-size-3xs: 0.625rem;
	--font-size-2xs: 0.75rem;
	--font-size-xs: 0.8125rem;
	--font-size-s: 0.875rem;
	--font-size-m: 1rem;
	--font-size-l: 1.125rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.75rem;

	--font-line-height-xsmall: 1;
	--font-line-height-compact: 1.25;
	--font-line-height-regular: 1.3;
	--font-line-height-loose: 1.35;
	--font-line-height-xloose: 1.5;

	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 600;
	--font-family: InterVariable, sans-serif;
	--font-family-monospace: CommitMono, ui-monospace, Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	--spacing-5xs: 0.125rem;
	--spacing-4xs: 0.25rem;
	--spacing-3xs: 0.375rem;
	--spacing-2xs: 0.5rem;
	--spacing-xs: 0.75rem;
	--spacing-s: 1rem;
	--spacing-m: 1.25rem;
	--spacing-l: 1.5rem;
	--spacing-xl: 2rem;
	--spacing-2xl: 3rem;
	--spacing-3xl: 4rem;
	--spacing-4xl: 8rem;
	--spacing-5xl: 16rem;
}

:root {
	@include deprecatedTheme;
}
