/* stylelint-disable */
@mixin theme {
	--background--brand: var(--color--orange-400);
	--background--brand--hover: var(--color--orange-500);
	--background--brand--active: var(--color--orange-600);
	--background--brand--focus: var(--color--orange-400);
	--background--brand--disabled: var(--color--neutral-200);

	--background--surface: var(--color--neutral-white);
	--background--surface--hover: var(--color--neutral-100);
	--background--surface--active: var(--color--neutral-125);
	--background--surface--focus: var(--color--neutral-100);
	--background--surface--disabled: var(--color--neutral-200);

	--border-color: var(--color--black-alpha-200);
	--border-color--subtle: var(--color--black-alpha-100);
	--border-color--strong: var(--color--black-alpha-300);
	--border-color--stronger: var(--color--black-alpha-400);

	--icon-color--subtle: var(--color--neutral-200);
	--icon-color: var(--color--neutral-500);
	--icon-color--strong: var(--color--neutral-800);

	--text-color: var(--color--neutral-800);
	--text-color--subtle: var(--color--neutral-500);
	--text-color--subtler: var(--color--neutral-200);

	--background--success: var(--color--green-50);
	--border-color--success: var(--color--green-200);
	--text-color--success: var(--color--green-800);
	--icon-color--success: var(--color--green-800);

	--background--warning: var(--color--yellow-100);
	--border-color--warning: var(--color--yellow-200);
	--text-color--warning: var(--color--yellow-800);
	--icon-color--warning: var(--color--yellow-800);

	--background--danger: var(--color--red-50);
	--border-color--danger: var(--color--red-200);
	--text-color--danger: var(--color--red-800);
	--icon-color--danger: var(--color--red-800);

	--background--info: var(--color--blue-50);
	--border-color--info: var(--color--blue-200);
	--text-color--info: var(--color--blue-800);
	--icon-color--info: var(--color--blue-800);

	--background--inverse: var(--color--neutral-900);
	--border-color--inverse: var(--color--neutral-700);
	--text-color--inverse: var(--color--neutral-100);
	--icon-color--inverse: var(--color--neutral-100);

	--focus--border-width: 2px;
	--focus--border-color: light-dark(var(--color--neutral-900), var(--color--neutral-100));
}

:root {
	@include theme;
}
