/**
	Deprecated tokens as we migrate towards new --[group]--[group]--... css variables
	Keeping temporarily until naming is enforced across the app
	To minimize bugs related to ongoing work
**/
@mixin deprecatedTheme {
	--color-danger: var(--p--color--alt-h-310);

	--box-shadow-base: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.1);
	--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.2);
	--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.2);
}

body[data-theme='dark'] {
	@include deprecatedTheme;
}

@media (prefers-color-scheme: dark) {
	body:not([data-theme]) {
		@include deprecatedTheme;
	}
}
