// Should be semantic
// We should avoid semantic naming that can become counterintuitive in dark mode "light" and naming that can conflict in dark mode

/* stylelint-disable */
@mixin theme {
	// Brand
	--background--brand: color;
	--background--brand--hover: color;
	--background--brand--active: color;
	--background--brand--focus: color;
	--background--brand--disabled: color;

	// Secondary
	--background--secondary: color;
	--background--secondary--hover: color;
	--background--secondary--active: color;
	--background--secondary--focus: color;
	--background--secondary--disabled: color;

	// Default surface color, add more surface colors via components
	--background--surface: color;
	--background--surface--hover: color;
	--background--surface--active: color;
	--background--surface--focus: color;
	--background--surface--disabled: color;

	// Border max 5
	--border-color--subtle: color;
	--border-color: color;
	--border-color--strong: color;

	// Border max 5
	--icon-color--subtle: color;
	--icon-color: color;
	--icon-color--strong: color;

	// Text
	--text-color: color;
	--text-color--subtle: color;
	--text-color--subtler: color;

	// Feedback - Success
	--background--success: color;
	--border-color--success: color;
	--text-color--success: color;

	// Feedback - Warning
	--background--warning: color;
	--border-color--warning: color;
	--text-color--warning: color;

	// Feedback - Danger
	--background--danger: color;
	--border-color--danger: color;
	--text-color--danger: color;

	// Feedback - Info
	--background--info: color;
	--border-color--info: color;
	--text-color--info: color;
}

:root {
	@include theme;
}
