@font-face {
  font-family: 'Noto Sans Sinhala';
  src: url('../assets/fonts/sinhala/NotoSansSinhala-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}

@font-face {
  font-family: 'Noto Sans Sinhala';
  src: url('../assets/fonts/sinhala/NotoSansSinhala-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}

@font-face {
  font-family: 'Noto Sans Sinhala';
  src: url('../assets/fonts/sinhala/NotoSansSinhala-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0D80-0DFF;
}
