@use 'mixins/mixins';
@use './common/var';

@include mixins.b(select-dropdown) {
	@include mixins.e(item) {
		font-size: var.$select-font-size;
		padding: var(--select-option-padding, 0 20px);
		position: relative;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		color: var(--color-floating-list-item-font);
		background-color: var(--color-floating-list-background);
		min-height: var.$select-option-height;
		height: auto;
		line-height: var(--select-option-line-height, var.$select-option-height);
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		align-items: center;

		@include mixins.when(disabled) {
			color: var(--color-floating-list-item-disabled-font);
			cursor: not-allowed;

			&:hover {
				background-color: var(--color-floating-list-background);
			}
		}

		&.hover,
		&:hover {
			background-color: var(--color-floating-list-item-hover-background);
			color: var(--color-floating-list-item-hover-font);
		}

		&.selected {
			background-color: var(--color-floating-list-item-selected-background);
			color: var(--color-floating-list-item-selected-font);
			font-weight: var(--font-weight-bold);
		}
	}
}
