@use 'mixins/mixins';
@use './common/var';
@use './popper';

@include mixins.b(select-dropdown) {
	position: absolute;
	z-index: #{var.$index-top + 1};
	border: var.$select-dropdown-border;
	border-radius: var(--border-radius-base);
	background-color: var.$select-dropdown-background;
	box-shadow: var.$select-dropdown-shadow;
	box-sizing: border-box;
	margin: 5px 0;
	max-width: var(--max-width);

	@include mixins.when(multiple) {
		& .el-select-dropdown__item.selected {
			color: var.$select-option-selected-font-color;
			background-color: var.$select-dropdown-background;

			&.hover {
				background-color: var.$select-option-hover-background;
			}

			&::after {
				position: absolute;
				right: 20px;
				font-family: 'element-icons';
				content: '\e6da';
				font-size: 12px;
				font-weight: var(--font-weight-bold);
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}

	.el-scrollbar.is-empty .el-select-dropdown__list {
		padding: 0;
	}
}

@include mixins.b(select-dropdown__empty) {
	padding: var.$select-dropdown-empty-padding;
	margin: 0;
	text-align: center;
	color: var.$select-dropdown-empty-color;
	font-size: var.$select-font-size;
}

@include mixins.b(select-dropdown__wrap) {
	max-height: var.$select-dropdown-max-height;
}

@include mixins.b(select-dropdown__list) {
	list-style: none;
	padding: var.$select-dropdown-padding;
	margin: 0;
	box-sizing: border-box;
}
