@use './common/var';
@use './date-picker/picker.scss';
@use './date-picker/date-picker.scss';
@use './scrollbar.scss';
@use './popper';

.time-select {
	margin: 5px 0;
	min-width: 0;
}

.time-select .el-picker-panel__content {
	max-height: 200px;
	margin: 0;
}

.time-select-item {
	padding: 8px 10px;
	font-size: 14px;
	line-height: 20px;
}

.time-select-item.selected:not(.disabled) {
	color: var(--color-primary);
	font-weight: var(--font-weight-bold);
}

.time-select-item.disabled {
	color: var.$datepicker-border-color;
	cursor: not-allowed;
}

.time-select-item:hover {
	background-color: var.$background-color-base;
	font-weight: var(--font-weight-bold);
	cursor: pointer;
}
