type: object
additionalProperties: false
required:
  - key
  - value
properties:
  id:
    type: string
    readOnly: true
  key:
    type: string
  value:
    type: string
    example: test
  type:
    type: string
    readOnly: true
  project:
    $ref: '../../../projects/spec/schemas/project.yml'
