[data-tooltip] {
  position: relative;
  border-bottom: 0.1rem dashed #000;
  cursor: help;
}

[data-tooltip]::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  left: 50%;
  transform: translateX(-50%) translateY(1.25rem); /* Center horizontally and move down for initial state */
  bottom: calc(100% + 0.625rem); /* 10px to rem */
  border-radius: 0.1875rem; /* 3px to rem */
  box-shadow: 0 0 0.3125rem 0.125rem rgba(100, 100, 100, 0.6); /* px to rem */
  background-color: white;
  z-index: 100;
  padding: 0.5rem;
  max-width: 20rem; /* Adjust as needed */
  width: max-content;
  word-wrap: break-word; /* Allow text to wrap */
  transition: opacity 150ms cubic-bezier(.25, .8, .25, 1), transform 150ms cubic-bezier(.25, .8, .25, 1);
}

[data-tooltip]:hover::after {
  opacity: 1;
  transform: translateX(-50%) translateY(0); /* Center horizontally and move up for visible state */
  transition-duration: 300ms;
}
