name: PR Checklist

on:
  pull_request_target:
    types:
      - opened
      - synchronize
    branches:
      - master

jobs:
  checklist_job:
    runs-on: ubuntu-latest
    name: Checklist job
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Checklist
        uses: wyozi/contextual-qa-checklist-action@master
        with:
          gh-token: ${{ secrets.GITHUB_TOKEN }}
          comment-footer: Make sure to check off this list before asking for review.
