name: Check PR title

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
    branches:
      - '**'
      - '!release/*'

jobs:
  check-pr-title:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Check out branch
        uses: actions/checkout@v4.1.1

      - run: corepack enable
      - uses: actions/setup-node@v4.0.2
        with:
          node-version: 20.x
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Validate PR title
        id: validate_pr_title
        uses: n8n-io/validate-n8n-pull-request-title@v2.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
