name: Test Master

on:
  push:
    branches:
      - master
    paths-ignore:
      - packages/@n8n/task-runner-python/**

jobs:
  unit-test:
    name: Unit tests
    uses: ./.github/workflows/units-tests-reusable.yml
    strategy:
      matrix:
        node-version: [20.x, 22.x, 24.3.x]
    with:
      ref: ${{ github.sha }}
      nodeVersion: ${{ matrix.node-version }}
      collectCoverage: ${{ matrix.node-version == '22.x' }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint:
    name: Lint
    uses: ./.github/workflows/linting-reusable.yml
    with:
      ref: ${{ github.sha }}

  notify-on-failure:
    name: Notify Slack on failure
    runs-on: ubuntu-latest
    needs: [unit-test, lint]
    steps:
      - name: Notify Slack on failure
        uses: act10ns/slack@44541246747a30eb3102d87f7a4cc5471b0ffb7d # v2.1.0
        if: failure()
        with:
          status: ${{ job.status }}
          channel: '#alerts-build'
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          message: Master branch (build or test or lint) failed (${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
