name: Build, unit test and lint branch

on: [pull_request]

jobs:
  install:
    name: Install & Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          repository: n8n-io/n8n
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - run: corepack enable
      - name: Use Node.js 18
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm build

      - name: Cache build artifacts
        uses: actions/cache/save@v4.0.0
        with:
          path: ./packages/**/dist
          key: ${{ github.sha }}-base:18-test-lint

  unit-test:
    name: Unit tests
    uses: ./.github/workflows/units-tests-reusable.yml
    needs: install
    with:
      ref: refs/pull/${{ github.event.pull_request.number }}/merge
      cacheKey: ${{ github.sha }}-base:18-test-lint

  lint:
    name: Lint changes
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4.1.1
        with:
          repository: n8n-io/n8n
          ref: refs/pull/${{ github.event.pull_request.number }}/merge

      - run: corepack enable
      - name: Use Node.js 18
        uses: actions/setup-node@v4.0.1
        with:
          node-version: 18.x
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Restore cached build artifacts
        uses: actions/cache/restore@v4.0.0
        with:
          path: ./packages/**/dist
          key: ${{ github.sha }}-base:18-test-lint

      - name: Lint
        run: pnpm lint
