name: Docker Nightly Image CI

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:
    inputs:
      branch:
        description: 'Name of the GitHub branch to create image off.'
        required: true
        default: 'master'
      tag:
        description: 'Name of the docker tag to create.'
        required: true
        default: 'nightly'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.inputs.branch || 'master' }}
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      -
        name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./docker/images/n8n-custom/Dockerfile
          platforms: linux/amd64
          push: true
          tags: n8nio/n8n:${{ github.event.inputs.tag || 'nightly' }}
