name: 'Docker: Build PR Images'

on:
  workflow_call:
    inputs:
      pr_number:
        description: 'PR number for tagging images'
        required: true
        type: string
      ref:
        description: 'Git ref to checkout'
        required: false
        type: string
        default: ''
    outputs:
      n8n_image:
        description: 'The n8n Docker image that was built'
        value: ${{ jobs.build-n8n.outputs.image }}
      runners_image:
        description: 'The runners Docker image that was built'
        value: ${{ jobs.build-runners.outputs.image }}

env:
  INCLUDE_TEST_CONTROLLER: 'true'
  # Must match CI's COVERAGE_ENABLED to ensure Turbo cache hits
  COVERAGE_ENABLED: 'true'

jobs:
  build-n8n:
    name: Build n8n Image
    runs-on: blacksmith-2vcpu-ubuntu-2204
    outputs:
      image: ${{ steps.build.outputs.image }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Build and Push
        id: build
        uses: ./.github/actions/build-docker-image
        with:
          image-name: n8n
          dockerfile: ./docker/images/n8n/Dockerfile
          image-tag: pr-${{ inputs.pr_number }}

  build-runners:
    name: Build Runners Image
    runs-on: blacksmith-2vcpu-ubuntu-2204
    outputs:
      image: ${{ steps.build.outputs.image }}
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          ref: ${{ inputs.ref || github.ref }}

      - name: Build and Push
        id: build
        uses: ./.github/actions/build-docker-image
        with:
          image-name: runners
          dockerfile: ./docker/images/runners/Dockerfile
          image-tag: pr-${{ inputs.pr_number }}
