name: Storybook

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
  pull_request:
    branches:
      - master
    paths:
      - 'packages/frontend/@n8n/design-system/**'
      - '.github/workflows/storybook.yml'
concurrency:
  group: storybook-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  cloudflare:
    name: Cloudflare Pages
    if: |
      !contains(github.event.pull_request.labels.*.name, 'community')
    runs-on: blacksmith-2vcpu-ubuntu-2204
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: n8n-io/n8n/.github/actions/setup-nodejs-blacksmith@f5fbbbe0a28a886451c886cac6b49192a39b0eea # v1.104.1
        with:
          build-command: pnpm run build --filter=@n8n/utils --filter=@n8n/vitest-config --filter=@n8n/design-system

      - name: Build
        working-directory: packages/frontend/@n8n/design-system
        run: |
          pnpm build:storybook

      - name: Setup Wrangler Pre-requisites
        run: |
          echo "ignore-workspace-root-check=true" >> .npmrc
          pnpm add --global wrangler

      - name: Deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65
        id: cloudflare_deployment
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy packages/frontend/@n8n/design-system/storybook-static --project-name=storybook --branch=${{github.ref_name}} --commit-hash=${{ github.sha }}
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
