%bold {
	font-weight: var(--font-weight-bold);
}

.heading1 {
	font-size: var(--font-size-2xl);
	line-height: var(--font-line-height-compact);
}

.heading1-bold {
	@extend %bold, .heading1;
}

.heading2 {
	font-size: var(--font-size-xl);
	line-height: var(--font-line-height-loose);
}

.heading2-bold {
	@extend %bold, .heading2;
}

.heading3 {
	font-size: var(--font-size-m);
	line-height: var(--font-line-height-loose);
}

.heading3-bold {
	@extend %bold, .heading3;
}

.heading4 {
	font-size: var(--font-size-s);
	line-height: var(--font-line-height-regular);
}

.heading4-bold {
	@extend %bold, .heading4;
}

.body-large {
	font-size: var(--font-size-m);
	line-height: var(--font-line-height-xloose);
}

.body-large-bold {
	@extend %bold, .body-large;
}

.body-medium {
	font-size: var(--font-size-s);
	line-height: var(--font-line-height-loose);
}

.body-medium-bold {
	@extend %bold, .body-medium;
}

.body-small {
	font-size: var(--font-size-2xs);
	line-height: var(--font-line-height-loose);
}

.body-small-bold {
	@extend %bold, .body-small;
}

